.about-me {

}

.about-me__wrapper {
    padding-top: 2rem;
    display: flex;
    /*background: var(--background-main);*/
}


@media (max-width: 1280px) {
    .about-me__wrapper {
    }
}

@media (max-width: 768px) {
    .about-me__wrapper {
        flex-direction: column;
        gap: 22px;
    }
}

@media (max-width: 320px) {
    .about-me__wrapper {
        gap: 0;
    }
}


.about-my__name,
.my-direction {
    display: flex;
    /*min-width: 440px;*/
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

@media (max-width: 440px) {

    .about-my__name,
    .my-direction {
        min-width: auto;
    }
}

.about-my__name {
    background: var(--background-extra);
    padding: 30px;
}

@media (max-width: 1280px) {
    .about-my__name {
        padding: 24px;
    }
}

@media (max-width: 440px) {
    .about-my__name {
        padding: 16px 8px 8px;
    }
}

.my-name__second-title {
    font-size: 30px;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 8px;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .my-name__second-title {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .my-name__second-title {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .my-name__second-title {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.my-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media (max-width: 1280px) {
    .my-direction {
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .my-direction {
        gap: 26px;
    }
}

@media (max-width: 440px) {
    .my-direction {
        gap: 10px;
    }
}

.my-direction__tittle {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .my-direction__tittle {
        font-size: 32px;
    }
}

@media (max-width: 440px) {
    .my-direction__tittle {
        font-size: 12px;
        padding-top: 8px;
    }
}

.cards__title {
    color: var(--text-secondary);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .cards__title {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .cards__title {
        font-size: 9px;
    }
}

.my-name__desc {
    font-size: 18px;
    line-height: 34px;
    /* 188.889% */
    color: var(--text-primary);
}

@media (max-width: 1280px) {
    .my-name__desc {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 440px) {
    .my-name__desc {
        font-size: 8px;
        line-height: 13px;
    }
}

.my-direction-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    /* Центрирование по горизонтали */
}

@media (max-width: 440px) {
    .my-direction-cards {
        flex-direction: column;
        gap: 10px;
    }
}

.my-direction-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 calc(50% - 40px);
    /* Распределение по 2 карточки в ряду */
    max-width: calc(50% - 40px);
    /* Максимальная ширина карточки */
}

@media (max-width: 440px) {
    .my-direction-article {
        max-width: calc(119% - 20px);
        gap: 6px;
    }
}

.my-direction-icon-1,
.my-direction-icon-2,
.my-direction-icon-3,
.my-direction-icon-4 {
    background-repeat: no-repeat;
    width: 65.95px;
    height: 61px;
    background-size: contain;
}

@media (max-width: 1280px) {

    .my-direction-icon-1,
    .my-direction-icon-2,
    .my-direction-icon-3,
    .my-direction-icon-4 {
        width: 61px;
        height: 57px;
    }
}

@media (max-width: 440px) {

    .my-direction-icon-1,
    .my-direction-icon-2,
    .my-direction-icon-3,
    .my-direction-icon-4 {
        width: 36px;
        height: 31px;
    }
}




.my-direction-icon-1 {
    background-image: url("../assets/icons/icon-zagorod.svg");
}

.my-direction-icon-2 {
    background-image: url("../assets/icons/icon-nova.svg");
}

.my-direction-icon-3 {
    background-image: url("../assets/icons/icon-secon.svg");
}

.my-direction-icon-4 {
    background-image: url("../assets/icons/icon-ipoteka.svg");
}


.my-name-desc-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1280px) {
    .my-name-desc-block {
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .my-name-desc-block {
        gap: 14px;
    }
}

@media (max-width: 440px) {
    .my-name-desc-block {
        gap: 10px;
    }
}

.my-direction-desc {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}

@media (max-width: 1280px) {
    .my-direction-desc {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .my-direction-desc {
        font-size: 8px;
    }
}

.my-name__tittle {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media (max-width: 1280px) {
    .my-name__tittle {
        margin-bottom: 26px;
    }
}

@media (max-width: 440px) {
    .my-name__tittle {
        margin-bottom: 15px;
    }
}


@media (max-width: 1280px) {
    .my-name__tittle {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .my-name__tittle {
        font-size: 40px;
    }
}

@media (max-width: 440px) {
    .my-name__tittle {
        font-size: 16px;
    }
}