.hero {
    position: relative;
    background-image: url(../img/hero-image.webp);
    display: flex;
    align-items: center;
    min-height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    /* Новое свойство для ограничения ширины .hero */
    /* Центрирование .hero по горизонтали */
}

@media (width <= 1440px) {
    .hero {
        min-height: 680px;
    }
}

@media (width <= 1024px) {
    .hero {
        min-height: 680px;
    }
}

@media (width <= 768px) {
    .hero {
        min-height: 440px;
    }
}

@media (width <= 320px) {
    .hero {
        min-height: 380px;
    }
}


@media (max-width: 440px) {
    .hero {
        min-height: 165px;
        background-repeat: round;
    }
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    pointer-events: none;
}

.person-face {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 600px;
}

.person-face > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (width <= 1440px) {
    .person-face {
        height: 500px;
    }
}

@media (width <= 1024px) {
    .person-face {
        height: 400px;
    }
}

@media (width <= 768px) {
    .person-face {
        height: 130px;
    }
}

@media (width <= 320px) {
    .person-face {
        height: 300px;
    }
}

.hero-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 1280px) {
    .hero-text-block {
        /*padding: 220px 0 140px 140px;*/
    }
}

@media (max-width: 768px) {
    .hero-text-block {
        /*padding: 120px 0 0 90px;*/
    }
}

@media (max-width: 440px) {
    .hero-text-block {
        /*padding: 55px 0 25px 35px;*/
    }
}

.hero__text-one {
    font-size: 70px;
    color: var(--text-primary);
    z-index: 2;
    font-weight: 400;
    font-family: "Russo One";
}

@media (max-width: 1280px) {
    .hero__text-one {
        font-size: 45px;
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .hero__text-one {
        font-size: 30px;
    }
}

@media (max-width: 440px) {
    .hero__text-one {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.hero__text-two {
    color: var(--text-secondary);
    z-index: 1;
    font-size: 112px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero__text-two {
        font-size: 70px;
        margin-bottom: 22px;
    }
}

@media (max-width: 768px) {
    .hero__text-two {
        font-size: 50px;
        margin-bottom: 10px;
    }
}

@media (max-width: 440px) {
    .hero__text-two {
        font-size: 24px;
        margin-bottom: 5px;
    }
}

.hero__text_three {
    z-index: 1;
    color: var(--text-primary);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5.6px;
    margin-bottom: 55px;
}

@media (max-width: 1280px) {
    .hero__text_three {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .hero__text_three {
        margin-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .hero__text_three {
        font-size: 10px;
        margin-bottom: 0;
    }
}

.hero-button {
    cursor: pointer;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 16px;
    background: var(--background-secondary);
    z-index: 1;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .hero-button {
        padding: 8px 8px;
        gap: 10px;
    }
}

@media (max-width: 440px) {
    .hero-button {
        padding: 3px 6px;
        gap: 4px;
    }
}

.hero-btn-icon {
    background-image: url(../assets/icons/icon-phone.svg);
    width: 35.479px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;

}

@media (max-width: 768px) {
    .hero-btn-icon {
        width: 24.479px;
        height: 26px;
    }
}

@media (max-width: 768px) {
    .hero-btn-icon {
        width: 18.479px;
        height: 20px;
    }
}

@media (max-width: 440px) {
    .hero-btn-icon {
        width: 13.479px;
        height: 15px;
    }
}

.hero-btn-text {
    color: var(--text-primary);
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero-btn-text {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .hero-btn-text {
        font-size: 8px;
    }
}

.hero-btn-block {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 60rem;
}

@media (max-width: 768px) {
    .hero-btn-block {
        gap: 18px;
        /*min-width: 145%;*/
    }
}

@media (max-width: 440px) {
    .hero-btn-block {
        gap: 8px;
    }
}

.hero-desc {
    flex: 1 0 0;
    color: var(--text-primary);
    font-size: 20px;
    line-height: 28px;
    z-index: 1;
    margin: 0;
}

/*TODO: refactor*/
@media (max-width: 1280px) {
    .hero-desc {
        font-size: 14px;
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    .hero-desc {
        line-height: 26px;
    }
}

@media (max-width: 440px) {
    .hero-desc {
        font-size: 8px;
        line-height: 14px;
    }
}

@media (max-width: 370px) {
    .hero-desc {
        max-width: 120px;
    }
}