.page {
    background-color: #0E0E0E;
    font-family: "play", "san-serif";
    font-size: 18px;
    color: white;
}

.section-offset {
    margin: 40px 0px 40px 0px;
}

@media (max-width: 768px) {
    .section-offset {
        margin: 20px 0px 20px 0px;
    }
}

@media (max-width: 440px) {
    .section-offset {
        margin: 10px 0px 0px 0px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Russo One";
    margin: 0;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 95%;
    margin: auto;
}

/* ---------------------------------------------------------------------------header----------------------------------------------------------------- */


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
}

.header__button {
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    .header {
        padding-top: 15px;
    }
}

@media (max-width: 440px) {
    .header {
        padding-top: 10px;
    }
}


.logo-wrapper {
    display: flex;
}

.logo {
    width: 108px;
    height: 91px;
    margin-right: 35px;
}

@media (max-width: 1280px) {
    .logo {
        width: 56px;
        height: 47px;
        margin-right: 15px;
    }
}


@media (max-width: 440px) {
    .logo {
        width: 22px;
        height: 19px;
        margin-right: 15px;
    }
}

.logo-text-one {
    font-family: "Russo One";
    font-size: 30px;
    color: #22B4E1;
}

@media (max-width: 1280px) {
    .logo-text-one {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .logo-text-one {
        font-size: 12px;
    }
}

.logo-text-two {
    color: rgba(255, 255, 255, 0.80);
}

@media (max-width: 1280px) {
    .logo-text-two {
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    .logo-text-two {
        font-size: 7px;
    }
}

.icon {
    background-image: url(./img/phone-header.svg);
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
}

@media (max-width: 1280px) {
    .icon {
        width: 38px;
        height: 38px;
        padding: 5px;
    }
}

@media (max-width: 440px) {
    .icon {
        width: 19px;
        height: 19px;
        background-image: url(./img/phone-header-320.svg);
        padding: 0;
        background-size: contain;
    }
}

.logo__text {
    flex-direction: column;
    display: flex;
    align-self: center;
}

.navigation {
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    display: flex;
}

@media (max-width: 1280px) {

    .navigation {
        display: flex;
        gap: 17px;
    }
}

@media (max-width: 768px) {

    .navigation {
        display: none;
    }
}

.nav_link {
    font-size: 16px;
}

.nav_link:last-child {
    margin-bottom: 0;
}

@media (max-width: 1280px) {
    .nav_link {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .nav_link {
        font-size: 8px;
    }

    .nav_link:last-child {
        margin-bottom: 0;
    }
}

.header__phone {
    font-family: Russo One;
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

@media (max-width: 1280px) {
    .header__phone {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .header__phone {
        font-size: 12px;
        margin-right: 12px;
    }
}

.phone-wrapper {
    display: flex;
}

.burger-menu {
    display: none;
    /* Начально скрываем бургер-меню */
    cursor: pointer;
}


@media (max-width: 768px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        order: 3;
        margin-right: 15px;
    }
}

@media (max-width: 440px) {
    .burger-menu {
        margin-right: 10px;
    }
}

.burger-menu div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 440px) {
    .burger-menu div {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 4px 0;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #222;
    padding: 15px;
    z-index: 1;
}

@media (max-width: 768px) {
    .dropdown-menu {
        right: -19px;
    }
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    height: 30px;
}

@media (max-width: 440px) {
    .burger-menu {
        padding: 0;
    }

    .dropdown-menu a {
        height: 15px;
        margin-bottom: 7px;
    }

    .dropdown-menu {
        padding: 7px;
        right: -7px;
    }
}

/* -------------------------------------------------------hero----------------------------------------- */

.hero {
    position: relative;
    background-image: url(./img/hero-image.webp);
    min-height: 435px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    /* Новое свойство для ограничения ширины .hero */
    /* Центрирование .hero по горизонтали */
}

@media (max-width: 1280px) {
    .hero {
        background-image: url(./img/hero-image-1280.webp);
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url(./img/hero-image-768.webp);
        background-size: contain;
    }
}

@media (max-width: 440px) {
    .hero {
        min-height: fit-content;
        background-repeat: round;
    }
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    pointer-events: none;
}

.person-face {
    background-image: url(./img/Persona-face.webp);
    width: 20%;
    height: auto;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 665px;
    max-width: 100%;
    /* Максимальная ширина до правой границы .hero-wrapper */
}

@media (max-width: 1280px) {
    .person-face {
        background-image: url(./img/Persona-face\ 1280.png);
        height: 500px;
    }
}

@media (max-width: 768px) {
    .person-face {
        background-image: url(./img/Persona-face\ 768.webp);
        height: 267px;
    }
}

@media (max-width: 440px) {
    .person-face {
        background-image: url(./img/Persona-face\ 320.png);
        height: 116px;
        background-size: contain;
        width: 18%;
        height: 66%;
    }
}

@media (max-width: 390px) {
    .person-face {
        width: 19%;
        height: 63%;
    }
}

@media (max-width: 375px) {
    .person-face {
        width: 19%;
        height: 61%;
    }
}

@media (max-width: 375px) {
    .person-face {
        width: 23%;
        height: 61%;
    }
}

.hero-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 215px 0px 144px 140px;
    width: 50%;
}

@media (max-width: 1280px) {
    .hero-text-block {
        padding: 220px 0px 140px 140px;
    }
}

@media (max-width: 768px) {
    .hero-text-block {
        padding: 120px 0px 0px 90px;
    }
}

@media (max-width: 440px) {
    .hero-text-block {
        padding: 55px 0px 25px 35px;
    }
}

.hero__text-one {
    font-size: 70px;
    color: #fff;
    z-index: 2;
    font-weight: 400;
    font-family: Russo One;
}

@media (max-width: 1280px) {
    .hero__text-one {
        font-size: 45px;
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .hero__text-one {
        font-size: 30px;
    }
}

@media (max-width: 440px) {
    .hero__text-one {
        font-size: 16px;
        margin-bottom: 0px;
    }
}

.hero__text-two {
    color: #22B4E1;
    z-index: 1;
    font-family: Russo One;
    font-size: 115px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero__text-two {
        font-size: 70px;
        margin-bottom: 22px;
    }
}

@media (max-width: 768px) {
    .hero__text-two {
        font-size: 50px;
        margin-bottom: 10px;
    }
}

@media (max-width: 440px) {
    .hero__text-two {
        font-size: 24px;
        margin-bottom: 5px;
    }
}

.hero__text_three {
    z-index: 1;
    color: #FFF;
    font-family: Russo One;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5.6px;
    margin-bottom: 55px;
}

@media (max-width: 1280px) {
    .hero__text_three {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .hero__text_three {
        margin-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .hero__text_three {
        font-size: 10px;
        margin-bottom: 0px;
    }
}

.hero-button {
    cursor: pointer;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: #22B4E1;
    z-index: 1;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .hero-button {
        padding: 8px 8px;
        gap: 10px;
    }
}

@media (max-width: 440px) {
    .hero-button {
        padding: 3px 6px;
        gap: 4px;
    }
}

.hero-btn-icon {
    background-image: url(./img/phone-svg-button.svg);
    width: 35.479px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;

}

@media (max-width: 768px) {
    .hero-btn-icon {
        width: 24.479px;
        height: 26px;
    }
}

@media (max-width: 768px) {
    .hero-btn-icon {
        width: 18.479px;
        height: 20px;
    }
}

@media (max-width: 440px) {
    .hero-btn-icon {
        width: 13.479px;
        height: 15px;
    }
}

.hero-btn-text {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero-btn-text {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .hero-btn-text {
        font-size: 8px;
    }
}

.hero-btn-block {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 110%;
}

@media (max-width: 768px) {
    .hero-btn-block {
        gap: 18px;
        min-width: 145%;
    }
}

@media (max-width: 440px) {
    .hero-btn-block {
        gap: 8px;
    }
}

.hero-desc {
    flex: 1 0 0;
    color: #FFF;
    font-family: Play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 140% */
    z-index: 1;
    margin: 0;
}

@media (max-width: 1280px) {
    .hero-desc {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hero-desc {
        line-height: 26px;
    }
}

@media (max-width: 440px) {
    .hero-desc {
        font-size: 8px;
        line-height: 14px;
    }
}

@media (max-width: 370px) {
    .hero-desc {
        max-width: 120px;
    }
}


/* --------------------------------------------------------about-me------------------------------------------------- */

.about-me__wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 60px;
    align-self: stretch;
    flex-wrap: wrap;
    background: #0E0E0E;
}

@media (max-width: 1280px) {
    .about-me__wrapper {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .about-me__wrapper {
        gap: 22px;
        padding: 0px;
    }
}

@media (max-width: 320px) {
    .about-me__wrapper {
        gap: 0px;
    }
}


.about-my__name,
.my-direction {
    display: flex;
    min-width: 440px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

@media (max-width: 440px) {

    .about-my__name,
    .my-direction {
        min-width: auto;
    }
}

.about-my__name {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
}

@media (max-width: 1280px) {
    .about-my__name {
        padding: 24px;
    }
}

@media (max-width: 440px) {
    .about-my__name {
        padding: 8px;
        padding-top: 16px;
    }
}

.my-name__second-title {
    font-family: "Russo One";
    font-size: 30px;
    font-weight: 400;
    color: #22B4E1;
    margin-bottom: 8px;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .my-name__second-title {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .my-name__second-title {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .my-name__second-title {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.my-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media (max-width: 1280px) {
    .my-direction {
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .my-direction {
        gap: 26px;
    }
}

@media (max-width: 440px) {
    .my-direction {
        gap: 10px;
    }
}

.my-direction__tittle {
    text-align: center;
    font-family: "Russo One";
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .my-direction__tittle {
        font-size: 32px;
    }
}

@media (max-width: 440px) {
    .my-direction__tittle {
        font-size: 12px;
        padding-top: 8px;
    }
}

.cards__title {
    color: #22B4E1;
    text-align: center;
    font-family: "Russo One";
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .cards__title {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .cards__title {
        font-size: 9px;
    }
}

.my-name__desc {
    font-size: 18px;
    line-height: 34px;
    /* 188.889% */
    color: rgba(255, 255, 255, 0.60);
}

@media (max-width: 1280px) {
    .my-name__desc {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 440px) {
    .my-name__desc {
        font-size: 8px;
        line-height: 13px;
    }
}

.my-direction-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    /* Центрирование по горизонтали */
}

@media (max-width: 440px) {
    .my-direction-cards {
        flex-direction: column;
        gap: 10px;
    }
}

.my-direction-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 calc(50% - 40px);
    /* Распределение по 2 карточки в ряду */
    max-width: calc(50% - 40px);
    /* Максимальная ширина карточки */
}

@media (max-width: 440px) {
    .my-direction-article {
        max-width: calc(119% - 20px);
        gap: 6px;
    }
}

.my-direction-icon-1,
.my-direction-icon-2,
.my-direction-icon-3,
.my-direction-icon-4 {
    background-repeat: no-repeat;
    width: 65.95px;
    height: 61px;
    background-size: contain;
}

@media (max-width: 1280px) {

    .my-direction-icon-1,
    .my-direction-icon-2,
    .my-direction-icon-3,
    .my-direction-icon-4 {
        width: 61px;
        height: 57px;
    }
}

@media (max-width: 440px) {

    .my-direction-icon-1,
    .my-direction-icon-2,
    .my-direction-icon-3,
    .my-direction-icon-4 {
        width: 36px;
        height: 31px;
    }
}




.my-direction-icon-1 {
    background-image: url(./img/zagorod-icon.svg);
}

.my-direction-icon-2 {
    background-image: url(./img/nova-icon.svg);
}

.my-direction-icon-3 {
    background-image: url(./img/secon-icon.svg);
}

.my-direction-icon-4 {
    background-image: url(./img/ipoteka-icon.svg);
}


.my-name-desc-block {
    gap: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1280px) {
    .my-name-desc-block {
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .my-name-desc-block {
        gap: 14px;
    }
}

@media (max-width: 440px) {
    .my-name-desc-block {
        gap: 10px;
    }
}

.my-direction-desc {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}

@media (max-width: 1280px) {
    .my-direction-desc {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .my-direction-desc {
        font-size: 8px;
    }
}

.my-name__tittle {
    font-family: "Russo One";
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media (max-width: 1280px) {
    .my-name__tittle {
        margin-bottom: 26px;
    }
}

@media (max-width: 440px) {
    .my-name__tittle {
        margin-bottom: 15px;
    }
}


@media (max-width: 1280px) {
    .my-name__tittle {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .my-name__tittle {
        font-size: 40px;
    }
}

@media (max-width: 440px) {
    .my-name__tittle {
        font-size: 16px;
    }
}