:root {
    /*** COLORS ***/

    /* Pallet */
    --main-accent: #fff;
    --main-base: #0e0e0e;
    --main-primary: #22b4e1;
    --main-secondary: #1a1a1a;

    /* Extra */
    --primary-100: #d7f1f9;
    --primary-200: #aee4f4;
    --primary-300: #86d6ee;
    --primary-400: #5dc8e9;
    --primary-50: #e9f7fc;
    --primary-500: #35bbe3;
    --primary-600: #1ca5ce;
    --primary-700: #1785a6;
    --primary-800: #11647e;
    --primary-900: #0c4455;
    --secondary-100: #dadada;
    --secondary-500: #5e5e5e;


    /* Text */
    --text-primary: var(--main-accent);
    --text-secondary: var(--main-primary);
    --text-accent: var(--secondary-500);


    /* Buttons */
    --button-background-active: var(--primary-700);
    --button-background-default: var(--main-primary);
    --button-background-disabled: var(--primary-50);
    --button-background-hover: var(--primary-300);

    --button-text-primary-disabled: var(--secondary-100);
    --button-text-primary-default: var(--main-accent);


    /* Icons */
    --icon-background: var(--main-primary);
    --icon-background-secodary: var(--secondary-500);
    --icon-fill-accent: var(--main-base);
    --icon-fill-primary: var(--main-accent);
    --icon-fill-secondary: var(--main-primary);


    /* Surfaces */
    --background-accent: var(--main-accent);
    --background-secondary: var(--main-primary);
    --background-extra: var(--main-secondary);
    --background-main: var(--main-base);



    /*** SIZES ***/

    /* Corners */
    --corners-rounded-xs: 0.375rem;
    --corners-rounded-md: 0.5rem;
    --corners-rounded-xl: 0.75rem;
    --corners-rounded-xxl: 1rem;



    /*** BREAKPOINTS ***/
    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-xxl: 1440px;

    /*** CONTAINERS ***/
    --containers-sm: 300px;
    --containers-md: 640px;
    --containers-xl: 960px;
    --containers-xxl: 1320px;

    /*** FONTS ***/
    --base-font-size: 16px;

}

html {
    background-color: var(--background-main);
    font-family: Play, Arial, san-serif, serif;
    font-size: var(--base-font-size);
    color: var(--text-primary);
}

/* UTILS */
.flex {
    display: flex;
}


/* TODO: что тут? */
/*.section-offset {*/
/*    margin: 40px 0;*/
/*}*/

/*@media (width <= 768px)  {*/
/*    .section-offset {*/
/*        margin: 20px 0;*/
/*    }*/
/*}*/

/*@media (width <= 440px) {*/
/*    .section-offset {*/
/*        margin: 10px 0 0;*/
/*    }*/
/*}*/

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (width > 768px) {
    .container {
        max-width: var(--containers-md);
        padding: 0 1rem;
    }
}

@media (width > 1024px) {
    .container {
        max-width: var(--containers-xl);
        padding: 0 1rem;
    }
}

@media (width > 1440px) {
    .container {
        max-width: var(--containers-xxl);
        padding: 0 1rem;
    }
}

@media (width > 768px) {

}

@media (width > 1024px) {

}

@media (width > 1440px) {

}


h1,
h2,
h3,
h4,
h5 {
    font-family: "Russo One", Arial, serif;
}


/* ---------------------------------------------------------------------------header----------------------------------------------------------------- */


.header {
    padding: 20px 0;
}

@media (width <= 1440px) {
    .header {
        padding-top: 30px;
    }
}

@media (width <= 1024px) {
    .header {
        padding-top: 30px;
    }
}

@media (width <= 768px) {
    .header {
        padding-top: 15px;
    }
}

@media (width <= 320px) {
    .header {
        padding-top: 10px;
    }
}


.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__button {
    align-items: center;
    display: flex;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 35px;
    width: 108px;
    height: 91px;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media (width <= 1440px) {
    .logo {
        width: 56px;
        height: 47px;
        margin-right: 15px;
    }
}

@media (width <= 1024px) {
    .logo {
        width: 56px;
        height: 47px;
        margin-right: 15px;
    }
}

@media (width <= 768px) {
    .logo {
        width: 56px;
        height: 47px;
        margin-right: 15px;
    }
}

@media (width <= 320px) {
    .logo {
        width: 22px;
        height: 19px;
        margin-right: 15px;
    }
}

.logo-text-one {
    font-size: 1.667rem;
    color: var(--text-secondary);
}

@media (width <= 1440px) {
    .logo-text-one {
        font-size: 1.111rem;
    }
}

@media (width <= 1024px) {
    .logo-text-one {
        font-size: 1.111rem;
    }

}

@media (width <= 768px) {
    .logo-text-one {
        font-size: 0.667rem;
    }
}

@media (width <= 320px) {
    .logo-text-one {
        font-size: 0.667rem;
    }
}


.logo-text-two {
    color: var(--text-primary);
}

@media (width <= 1440px) {
    .logo-text-two {
        font-size: 0.667rem;
    }
}

@media (width <= 1024px) {
    .logo-text-two {
        font-size: 0.667rem;
    }
}

@media (width <= 768px) {
    .logo-text-two {
        font-size: 0.389rem;
    }
}

@media (width <= 320px) {
    .logo-text-two {
        font-size: 0.389rem;
    }
}


.icon {
    width: 47px;
    height: 47px;
}

.icon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (width <= 1440px) {
    .icon {
        width: 38px;
        height: 38px;
        padding: 5px;
    }
}

@media (width <= 1024px) {
    .icon {
        width: 38px;
        height: 38px;
        padding: 5px;
    }
}

@media (width <= 768px) {
    .icon {
        width: 19px;
        height: 19px;
    }
}

@media (width <= 320px) {
    .icon {
        width: 19px;
        height: 19px;
    }
}


.logo__text {
    flex-direction: column;
    display: flex;
    align-self: center;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
}

@media (width <= 1440px) {
    .navigation {
        display: flex;
    }
}

@media (width <= 1024px) {
    .navigation {
        display: flex;
    }
}

@media (width <= 768px) {
    .navigation {
        display: none;
    }
}

@media (width <= 320px) {
    .navigation {
        display: none;
    }
}


.nav_link {
    font-size: 1rem;
    padding: 0 0.3rem;
}

.nav_link:last-child {
    margin-bottom: 0;
}

@media (width <= 1440px) {
    .nav_link {
        font-size: 14px;
    }
}

@media (width <= 1024px) {
    .nav_link {
        font-size: 14px;
    }
}

@media (width <= 768px) {
    .nav_link {
        font-size: 8px;
    }

    .nav_link:last-child {
        margin-bottom: 0;
    }
}

@media (width <= 320px) {
    .nav_link {
        font-size: 8px;
    }

    .nav_link:last-child {
        margin-bottom: 0;
    }
}


.header__phone {
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

@media (width <= 1440px) {
    .header__phone {
        font-size: 16px;
    }
}

@media (width <= 1024px) {
    .header__phone {
        font-size: 16px;
    }
}

@media (width <= 768px) {
    .header__phone {
        font-size: 12px;
        margin-right: 12px;
    }
}

@media (width <= 320px) {
    .header__phone {
        font-size: 12px;
        margin-right: 12px;
    }
}

.phone-wrapper {
    display: flex;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

@media (width <= 768px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        order: 3;
        margin-right: 15px;
    }
}

@media (width <= 320px) {
    .burger-menu {
        margin-right: 10px;
    }
}


.burger-menu div {
    width: 25px;
    height: 2px;
    background-color: var(--background-accent);
    margin: 4px 0;
}


@media (width <= 768px) {
    .burger-menu div {
        width: 25px;
        height: 2px;
        background-color: var(--background-accent);
        margin: 4px 0;
    }
}

@media (width <= 320px) {
    .burger-menu div {
        width: 25px;
        height: 2px;
        background-color: var(--background-accent);
        margin: 4px 0;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    padding: 15px;
    z-index: 1;
}

@media (width <= 768px) {
    .dropdown-menu {
        right: -19px;
    }

}

@media (width <= 320px) {
    .burger-menu {
        padding: 7px;
        right: -7px;
    }
}


.dropdown-menu a {
    display: block;
    color: var(--text-primary);
    text-decoration: none;
    margin-bottom: 10px;
    height: 30px;
}

@media (width <= 320px) {
    .dropdown-menu a {
        height: 15px;
        margin-bottom: 7px;
    }
}

/* -------------------------------------------------------hero----------------------------------------- */

.hero {
    position: relative;
    background-image: url(./img/hero-image.webp);
    display: flex;
    align-items: center;
    min-height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    /* Новое свойство для ограничения ширины .hero */
    /* Центрирование .hero по горизонтали */
}

@media (width <= 1440px) {
    .hero {
        min-height: 680px;
    }
}

@media (width <= 1024px) {
    .hero {
        min-height: 680px;
    }
}

@media (width <= 768px) {
    .hero {
        min-height: 440px;
    }
}

@media (width <= 320px) {
    .hero {
        min-height: 380px;
    }
}



@media (max-width: 440px) {
    .hero {
        min-height: fit-content;
        background-repeat: round;
    }
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    pointer-events: none;
}

.person-face {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 600px;
    /*background-image: url(./img/Persona-face.webp);*/
    /*width: 20%;*/
    /*height: auto;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*max-width: 100%;*/
    /* Максимальная ширина до правой границы .hero-wrapper */
}

.person-face > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (width <= 1440px) {
    .person-face {
        height: 500px;
    }
}

@media (width <= 1024px) {
    .person-face {
        height: 400px;
    }
}

@media (width <= 768px) {
    .person-face {
        height: 350px;
    }
}

@media (width <= 320px) {
    .person-face {
        height: 300px;
    }
}

.hero-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 1280px) {
    .hero-text-block {
        /*padding: 220px 0 140px 140px;*/
    }
}

@media (max-width: 768px) {
    .hero-text-block {
        /*padding: 120px 0 0 90px;*/
    }
}

@media (max-width: 440px) {
    .hero-text-block {
        /*padding: 55px 0 25px 35px;*/
    }
}

.hero__text-one {
    font-size: 70px;
    color: var(--text-primary);
    z-index: 2;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero__text-one {
        font-size: 45px;
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .hero__text-one {
        font-size: 30px;
    }
}

@media (max-width: 440px) {
    .hero__text-one {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.hero__text-two {
    color: var(--text-secondary);
    z-index: 1;
    font-size: 115px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero__text-two {
        font-size: 70px;
        margin-bottom: 22px;
    }
}

@media (max-width: 768px) {
    .hero__text-two {
        font-size: 50px;
        margin-bottom: 10px;
    }
}

@media (max-width: 440px) {
    .hero__text-two {
        font-size: 24px;
        margin-bottom: 5px;
    }
}

.hero__text_three {
    z-index: 1;
    color: var(--text-primary);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5.6px;
    margin-bottom: 55px;
}

@media (max-width: 1280px) {
    .hero__text_three {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .hero__text_three {
        margin-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .hero__text_three {
        font-size: 10px;
        margin-bottom: 0;
    }
}

.hero-button {
    cursor: pointer;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 16px;
    background: var(--background-secondary);
    z-index: 1;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .hero-button {
        padding: 8px 8px;
        gap: 10px;
    }
}

@media (max-width: 440px) {
    .hero-button {
        padding: 3px 6px;
        gap: 4px;
    }
}

.hero-btn-icon {
    /*background-image: url(assets/icons/icon-phone.svg);*/
    width: 35.479px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;

}

@media (max-width: 768px) {
    .hero-btn-icon {
        width: 24.479px;
        height: 26px;
    }
}

@media (max-width: 768px) {
    .hero-btn-icon {
        width: 18.479px;
        height: 20px;
    }
}

@media (max-width: 440px) {
    .hero-btn-icon {
        width: 13.479px;
        height: 15px;
    }
}

.hero-btn-text {
    color: var(--text-primary);
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero-btn-text {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .hero-btn-text {
        font-size: 8px;
    }
}

.hero-btn-block {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 60rem;
}

@media (max-width: 768px) {
    .hero-btn-block {
        gap: 18px;
        /*min-width: 145%;*/
    }
}

@media (max-width: 440px) {
    .hero-btn-block {
        gap: 8px;
    }
}

.hero-desc {
    flex: 1 0 0;
    color: var(--text-primary);
    font-size: 24px;
    /* 140% */
    z-index: 1;
    margin: 0;
}

/*TODO: refactor*/
@media (max-width: 1280px) {
    .hero-desc {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hero-desc {
        line-height: 26px;
    }
}

@media (max-width: 440px) {
    .hero-desc {
        font-size: 8px;
        line-height: 14px;
    }
}

@media (max-width: 370px) {
    .hero-desc {
        max-width: 120px;
    }
}


/* --------------------------------------------------------about-me------------------------------------------------- */

.about-me {

}

.about-me__wrapper {
    padding-top: 2rem;
    display: flex;
    /*background: var(--background-main);*/
}


@media (max-width: 1280px) {
    .about-me__wrapper {
    }
}

@media (max-width: 768px) {
    .about-me__wrapper {
        flex-direction: column;
        gap: 22px;
    }
}

@media (max-width: 320px) {
    .about-me__wrapper {
        gap: 0;
    }
}


.about-my__name,
.my-direction {
    display: flex;
    /*min-width: 440px;*/
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

@media (max-width: 440px) {

    .about-my__name,
    .my-direction {
        min-width: auto;
    }
}

.about-my__name {
    background: var(--background-extra);
    padding: 30px;
}

@media (max-width: 1280px) {
    .about-my__name {
        padding: 24px;
    }
}

@media (max-width: 440px) {
    .about-my__name {
        padding: 16px 8px 8px;
    }
}

.my-name__second-title {
    font-size: 30px;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 8px;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .my-name__second-title {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .my-name__second-title {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .my-name__second-title {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.my-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media (max-width: 1280px) {
    .my-direction {
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .my-direction {
        gap: 26px;
    }
}

@media (max-width: 440px) {
    .my-direction {
        gap: 10px;
    }
}

.my-direction__tittle {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .my-direction__tittle {
        font-size: 32px;
    }
}

@media (max-width: 440px) {
    .my-direction__tittle {
        font-size: 12px;
        padding-top: 8px;
    }
}

.cards__title {
    color: var(--text-secondary);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .cards__title {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .cards__title {
        font-size: 9px;
    }
}

.my-name__desc {
    font-size: 18px;
    line-height: 34px;
    /* 188.889% */
    color: var(--text-primary);
}

@media (max-width: 1280px) {
    .my-name__desc {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 440px) {
    .my-name__desc {
        font-size: 8px;
        line-height: 13px;
    }
}

.my-direction-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    /* Центрирование по горизонтали */
}

@media (max-width: 440px) {
    .my-direction-cards {
        flex-direction: column;
        gap: 10px;
    }
}

.my-direction-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 calc(50% - 40px);
    /* Распределение по 2 карточки в ряду */
    max-width: calc(50% - 40px);
    /* Максимальная ширина карточки */
}

@media (max-width: 440px) {
    .my-direction-article {
        max-width: calc(119% - 20px);
        gap: 6px;
    }
}

.my-direction-icon-1,
.my-direction-icon-2,
.my-direction-icon-3,
.my-direction-icon-4 {
    background-repeat: no-repeat;
    width: 65.95px;
    height: 61px;
    background-size: contain;
}

@media (max-width: 1280px) {

    .my-direction-icon-1,
    .my-direction-icon-2,
    .my-direction-icon-3,
    .my-direction-icon-4 {
        width: 61px;
        height: 57px;
    }
}

@media (max-width: 440px) {

    .my-direction-icon-1,
    .my-direction-icon-2,
    .my-direction-icon-3,
    .my-direction-icon-4 {
        width: 36px;
        height: 31px;
    }
}




.my-direction-icon-1 {
    background-image: url("assets/icons/icon-zagorod.svg");
}

.my-direction-icon-2 {
    background-image: url("assets/icons/icon-nova.svg");
}

.my-direction-icon-3 {
    background-image: url("assets/icons/icon-secon.svg");
}

.my-direction-icon-4 {
    background-image: url("assets/icons/icon-ipoteka.svg");
}


.my-name-desc-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1280px) {
    .my-name-desc-block {
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .my-name-desc-block {
        gap: 14px;
    }
}

@media (max-width: 440px) {
    .my-name-desc-block {
        gap: 10px;
    }
}

.my-direction-desc {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}

@media (max-width: 1280px) {
    .my-direction-desc {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .my-direction-desc {
        font-size: 8px;
    }
}

.my-name__tittle {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media (max-width: 1280px) {
    .my-name__tittle {
        margin-bottom: 26px;
    }
}

@media (max-width: 440px) {
    .my-name__tittle {
        margin-bottom: 15px;
    }
}


@media (max-width: 1280px) {
    .my-name__tittle {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .my-name__tittle {
        font-size: 40px;
    }
}

@media (max-width: 440px) {
    .my-name__tittle {
        font-size: 16px;
    }
}


.about-me__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;

}

.about-image {
    background-image: url(./img/about-image.webp);
    width: 920px;
    height: 593px;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 50%; /* Set flex-basis to 50% */
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}


.my-xp {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1 0 0;
}

.my-xp__wrapper {
    background: #1A1A1A;
    flex: 1 0 0;
}

.my-xp__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 77px;
    flex-wrap: wrap;
    padding: 131px 41px 121px 59px;
}

.my-xp-content__top {
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
}

.content__top-titles {
    display: flex;
    height: 171px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.top-titles__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.top-titles-first {
    flex-direction: column;
    justify-content: center;
    color: #22B4E1;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.content-desc {
    line-height: 36px;
}

.top-titles-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
}

.my-xp-content__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.content__bot-numbers {
    display: flex;
    width: 211.174px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
}

.bot-numbers__number {
    color: #22B4E1;
    font-weight: 400;
    font-size: 54px;
    text-transform: uppercase;
}

.bot-numbers__desc {
    display: flex;
    width: 211.174px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

/* /
.about-me__exp {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.exp-wrapper {
    background: #1A1A1A;
}

.exp-wrapper_content {
     width: 844px;
    align-items: center;
    align-content: center;
    gap: 50px;
    flex-wrap: wrap;
    position: absolute;
    right: 41px;
    top: 76px;
}

.exp-content {
    display: flex;
align-items: center;
gap: 50px;
flex: 1 0 0;
}

.exp-numbers-titles {
    display: flex;
height: 171px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
}



.exp-second-title {
    display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #22B4E1;
font-weight: 400;
font-family: "Russo One";
font-size: 30px;
margin-bottom: 5px;
}

.exp-title {
    display: flex;
    justify-content: center;
flex-shrink: 0;
flex-direction: column;
font-size: 80px;
font-weight: 400;
}

.exp-desc {
    display: flex;
    width: 459px;
    height: 193px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.exp__text-decorate {
    color: rgba(255, 255, 255, 0.60);
}

.numbers {
    display: flex;
    gap: 66px;
}

.numbers__cont {
    display: flex;
    flex-direction: column;
}
 */
