.page {
    background-color: #0E0E0E;
    font-family: "play", "san-serif";
    font-size: 18px;
    color: white;
}

.section-offset {
    margin: 40px 0px 40px 0px;
}

@media (max-width: 768px) {
    .section-offset {
        margin: 20px 0px 20px 0px;
    }
}

@media (max-width: 440px) {
    .section-offset {
        margin: 5px 0px 5px 0px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Russo One";
    margin: 0;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 95%;
    margin: auto;
}

/* ---------------------------------------------------------------------------header----------------------------------------------------------------- */


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
}

.header__button {
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    .header {
        padding-top: 15px;
    }
}

@media (max-width: 440px) {
    .header {
        padding-top: 10px;
    }
}


.logo-wrapper {
    display: flex;
}

.logo {
    width: 108px;
    height: 91px;
    margin-right: 35px;
}

@media (max-width: 1280px) {
    .logo {
        width: 56px;
        height: 47px;
        margin-right: 15px;
    }
}


@media (max-width: 440px) {
    .logo {
        width: 22px;
        height: 19px;
        margin-right: 15px;
    }
}

.logo-text-one {
    font-family: "Russo One";
    font-size: 30px;
    color: #22B4E1;
}

@media (max-width: 1280px) {
    .logo-text-one {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .logo-text-one {
        font-size: 10px;
    }
}

.logo-text-two {
    color: rgba(255, 255, 255, 0.80);
}

@media (max-width: 1280px) {
    .logo-text-two {
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    .logo-text-two {
        font-size: 6px;
    }
}

.icon {
    background-image: url(./img/phone-header.svg);
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
}

@media (max-width: 1280px) {
    .icon {
        width: 38px;
        height: 38px;
        padding: 5px;
    }
}

@media (max-width: 440px) {
    .icon {
        width: 12px;
        height: 12px;
        background-image: url(./img/phone-header-320.svg);
        padding: 0;
    }
}

.logo__text {
    flex-direction: column;
    display: flex;
    align-self: center;
}

.navigation {
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    display: flex;
}

@media (max-width: 1280px) {

    .navigation {
        display: flex;
        gap: 17px;
    }
}

@media (max-width: 768px) {

    .navigation {
        display: none;
    }
}

.nav_link {
    font-size: 16px;
}

@media (max-width: 1280px) {
    .nav_link {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .nav_link {
        font-size: 8px;
    }

    .nav_link:last-child {
        margin-bottom: 0;
    }
}

.header__phone {
    font-family: Russo One;
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

@media (max-width: 1280px) {
    .header__phone {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .header__phone {
        font-size: 8px;
        margin-right: 12px;
    }
}

.phone-wrapper {
    display: flex;
}

.burger-menu {
    display: none;
    /* Начально скрываем бургер-меню */
    cursor: pointer;
}


@media (max-width: 768px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        order: 3;
        margin-right: 15px;
    }
}

@media (max-width: 440px) {
    .burger-menu {
        margin-right: 10px;
    }
}

.burger-menu div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 440px) {
    .burger-menu div {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 4px 0;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #222;
    padding: 15px;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    height: 30px;
}

@media (max-width: 440px) {
    .burger-menu {
        padding: 0;
    }

    .dropdown-menu a {
        height: 15px;
        margin-bottom: 7px;
    }

    .dropdown-menu {
        padding: 7px;
        right: -7px;
    }
}

/* -------------------------------------------------------hero----------------------------------------- */

.hero {
    position: relative;
    background-image: url(./img/hero-image.webp);
    min-height: 435px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    /* Новое свойство для ограничения ширины .hero */
        /* Центрирование .hero по горизонтали */
}

@media (max-width: 1280px) {
    .hero {
        background-image: url(./img/hero-image-1280.webp);
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url(./img/hero-image-768.webp);
        background-size: contain;
    }
}

@media (max-width: 440px) {
    .hero {
        min-height: 250px;
       }
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    pointer-events: none;
}

@media (max-width: 768px) {
    .hero-wrapper::before {
        height: 436px;
    }
}

@media (max-width: 440px) {
    .hero-wrapper::before {
        height: 100%;
    }
}

.person-face {
    background-image: url(./img/Persona-face.webp);
    width: 20%;
    height: auto;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 665px;
    max-width: 100%;
    /* Максимальная ширина до правой границы .hero-wrapper */
}

@media (max-width: 1280px) {
    .person-face {
        background-image: url(./img/Persona-face\ 1280.png);
        height: 500px;
    }
}

@media (max-width: 768px) {
    .person-face {
        background-image: url(./img/Persona-face\ 768.webp);
        height: 267px;
    }
}

@media (max-width: 440px) {
    .person-face {
        background-image: url(./img/Persona-face\ 320.png);
        height: 116px;
        background-size: contain;
        width: 30%;
        height: 86%;
        }
}

.hero-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 215px 0px 144px 140px;
    width: 50%;
 }

 @media (max-width: 1280px) {
    .hero-text-block {
        padding: 220px 0px 140px 140px;
    }
}

@media (max-width: 768px) {
    .hero-text-block {
        padding: 120px 0px 0px 90px;
    }
}

@media (max-width: 440px) {
    .hero-text-block {
        padding: 64px 0px 0px 35px;
    }
}

.hero__text-one {
    font-size: 70px;
    color: #fff;
    z-index: 2;
    font-weight: 400;
    font-family: Russo One;
}

@media (max-width: 1280px) {
    .hero__text-one {
        font-size: 45px;
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .hero__text-one {
        font-size: 30px;
     }
}

@media (max-width: 440px) {
    .hero__text-one {
        font-size: 16px;
        margin-bottom: 0px;
     }
}

.hero__text-two {
    color: #22B4E1;
    z-index: 1;
    font-family: Russo One;
    font-size: 115px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero__text-two {
        font-size: 70px;
        margin-bottom: 22px;
    }
}

@media (max-width: 768px) {
    .hero__text-two {
        font-size: 50px;
        margin-bottom: 10px;
     }
}

@media (max-width: 440px) {
    .hero__text-two {
        font-size: 24px;
        margin-bottom: 5px;
     }
}

.hero__text_three {
    z-index: 1;
    color: #FFF;
    font-family: Russo One;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5.6px;
    margin-bottom: 55px;
}

@media (max-width: 1280px) {
    .hero__text_three {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .hero__text_three {
        margin-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .hero__text_three {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.hero-button {
    cursor: pointer;
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: #22B4E1;
    z-index: 1;
}

@media (max-width: 440px) {
    .hero-button {
        padding: 2px 2px;
        gap: 6px;
    }
}

.hero-btn-icon {
    background-image: url(./img/phone-svg-button.svg);
    width: 12.479px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  
}

.hero-btn-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .hero-btn-text {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .hero-btn-text {
        font-size: 8px;
    }
}

.hero-btn-block {
    display: flex;
      align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

@media (max-width: 440px) {
    .hero-btn-block  {
        gap: 15px;
    }
}

.hero-desc {
    flex: 1 0 0;
    color: #FFF;
font-family: Play;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
z-index: 1;
margin: 0;
width: 530px;
}

@media (max-width: 1280px) {
    .hero-desc {
        font-size: 14px;
        width: 440px;
    }
}

@media (max-width: 768px) {
    .hero-desc {
        width: 359px;
        line-height: 26px;
        width: 334px;
    }
}

@media (max-width: 440px) {
    .hero-desc {
        font-size: 8px;
        line-height: 14px;
        max-width: 28%;
    }
}
