@import "styles/config/variables";

.feedback {
	padding: 2rem 0 3rem;

	@media (width <=$breakpoint-xl) {
		padding: 2rem 0 2rem;
	}

	@media (width <=$breakpoint-md) {
		padding: 0rem 0 1rem;
		padding-bottom: 2rem;
	}
}

.feedback__wrapper {
	background-color: #212121;
	padding: 40px 60px;

	@media (width <=$breakpoint-md) {
		padding: 20px 18px;
	}

	@media (max-width: 356px) {
		padding: 0;
	}

}

.feedback__top {
	margin-bottom: 3rem;

	@media (width <=$breakpoint-md) {
		margin-bottom: 0;
	}

	@media (width <=$breakpoint-md) {
		padding: 1rem;
	}
}

.feedback__title {
	color: $text-color-secondary;
	font-size: 60px;
	margin-bottom: 10px;

	@media (width <=$breakpoint-xl) {
		font-size: 40px;
	}

	@media (width <=$breakpoint-md) {
		font-size: 30px;
		margin-bottom: 6px;
	}

	@media (width <=$breakpoint-ls) {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 6px;
	}
}

.feedback__second-title {
	font-size: 40px;

	@media (width <=$breakpoint-xl) {
		font-size: 32px;
	}

	@media (width <=$breakpoint-md) {
		font-size: 28px;
	}

	@media (width <=$breakpoint-ls) {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 10px;
	}

}

.feedback__bot-article {
	display: flex;
	padding: 20px;
	display: flex;
	flex-direction: row;
	/* Arrange items in a row */
	align-items: center;
	background-color: #000000;
	/* Replace with your desired background color */
	color: #ffffff;
	/* Replace with your desired text color */
	padding: 26px 30px;
	border-radius: 8px;
	max-width: 800px;
	/* Adjust as per your design */
	gap: 10px;
	width: 40%;
	margin: 15px;
	position: relative;
	align-items: flex-start;

	@media (width <=$breakpoint-xl) {
		max-width: 320px;
		padding: 18px 27px;
		flex-direction: column;
	}

	@media (width <=$breakpoint-md) {
		padding: 12px 18px;
		max-width: none;
		margin: 10px;
	}

	@media (width <=$breakpoint-ls) {
		padding: 10px 15px 15px 18px;
		margin-bottom: 26px;
		width: 100%;

	}
}

.feedback__bot {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 2rem;

	@media (width <=$breakpoint-xl) {
		margin-bottom: 2rem;
	}

	@media (width <=$breakpoint-ls) {
		justify-content: center;
		margin-bottom: 0rem;
	}
}

.feedback__bot-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%;
	max-width: 30%;

	@media (width <=$breakpoint-xl) {
		max-width: 100%;
	}
}

.feedback__bot-article-title {
	color: #fff;
	font-family: Russo One, Arial, san-serif, serif;
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 36px;
	margin-bottom: 10px;
	text-align: left;
	margin-bottom: 43%;

	@media (width <=$breakpoint-xl) {
		line-height: 32px;
		font-size: 28px;
		margin-bottom: 10%;
	}

	@media (width <=$breakpoint-md) {
		font-size: 26px;
		line-height: 1.3;
		margin-bottom: 10px;
	}

	@media (width <=$breakpoint-ls) {
		margin-bottom: 15px;
		font-size: 22px;
		line-height: 26px;
	}
}

.feedback__bot-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
	object-fit: cover;

	@media (width <=$breakpoint-xl) {
		align-self: baseline;
	}

	@media (width <=$breakpoint-ls) {
		height: 75px;
		margin-bottom: 12px;
		width: 75px;
	}
}

.feedback-desc {
	flex-basis: 70%;
	font-size: 16px;
	max-width: 70%;
	margin-bottom: 18px;
	font-size: 22px;
	display: flex;
	align-items: center;
	font-family: $font-primary;
	font-weight: 400;
	line-height: 1.5;

	@media (width <=$breakpoint-xl) {
		min-width: 100%;
		font-size: 20px;
	}


	@media (width <=$breakpoint-md) {
		font-size: 16px;
	}

	@media (width <=$breakpoint-ls) {
		font-size: 16px;
	}
}


.article-item__bottom:last-child {
	margin-bottom: 68px;

	@media (width <=$breakpoint-md) {
		margin-bottom: 49px;
	}

	@media (width <=$breakpoint-ls) {
		margin-bottom: 12px;
	}
}

.feedback__bot-article-list {
	margin-bottom: 10px;
}

.feedback-position {
	left: 55%;
}

.height {


	@media (width <=$breakpoint-xl) {
		max-height: 370px;
	}

	@media (width <=$breakpoint-md) {
		max-height: 330px;
	}
}


.feedback__bot-feedback {
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	margin-top: auto;
	/* Перемещаем описание вниз карточки */
	align-self: flex-end;
	display: block;


	@media (width <=$breakpoint-xl) {
		font-size: 28px;
	}

	@media (width <=$breakpoint-md) {
		font-size: 24px;
	}

	@media (width <=$breakpoint-ls) {
		font-size: 20px;
		align-self: center;
	}
}
