---
import { Image } from "astro:assets";
import "./Feedback.scss";
---

<section class="feedback">
	<div class="container">
		<div class="feedback__wrapper">
			<div class="feedback__top">
				<h1 class="feedback__title">ОТЗЫВЫ</h1>
				<h2 class="feedback__second-title">Клиентов</h2>
			</div>
			<div class="feedback__bot">

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Разиля Рябикова</h3>
						<img class="feedback__bot-image" src="/assets/img/feedback/feedback01.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Спасибо большое вам, Глеб! Сделка была действительно сложная и долгая, но мы справились 😅, благодаря вам. 24/7 на связи в любое время и даже в выходные 😭, просто мега ответственный и внимательный риэлтор нам попался. Чему мы очень рады 😁. Теперь у нас есть дом мечты 🏡. Будем всем вас рекомендовать 🙌
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Катюша Машьянова</h3>
						<img class="feedback__bot-image" src="/assets/img/feedback/feedback02.jpg" alt="photo-client">
						</div>
					<p class="feedback-desc">
						Очень благодарна Глебу, что помог мне приобрести первую, но не последнюю недвижимость) Много страхов и сомнений было. Конечно и без трудностей не обошлось. Но мы все преодолели и вышли на сделку 👍🏻спасибо за помощь и поддержку! Дальше больше 😉
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Дима Кривошеев</h3>
					<img class="feedback__bot-image" src="/assets/img/feedback/feedback03.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Как всё быстро произошло, даже опомнится не успели 😄 . В данное время посчитали что хранить рубли крайне не выгодно, подумали что может имеет смысл рассмотреть инвестицию в недвижимость, позвонил посоветоваться с Глебом, а он нас за ручку взял и быстренько всё организовал 😄😄, пока сделку оформляли , наша инвестиция уже выросла в цене, поэтому считаю лучшим решением было обратится к Глебу! С уверенностью могу рекомендовать ! Если хотите сохранить и приумножить ваш бюджет - позвоните Глебу, он точно знает как это сделать😉. Огромная благодарность от всей нашей семьи👏
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Марина Кривошеева</h3>
					<img class="feedback__bot-image" src="/assets/img/feedback/feedback04.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Очень благодарна Глебу за очередную сделку. В наше нелёгкое время когда ежедневно меняются условия банков и рост цен на квартиры не в лучшую сторону мы смогли решить вопрос. Я и не сомневалась в грамотности риэлтора, поэтому доверяю и рекомендую специалиста по недвижимости- Глеба. Спасибо Вам огромное и успехов!!!
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Егор Шмаков</h3>
					<img class="feedback__bot-image" src="/assets/img/feedback/feedback05.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Хочу выразить большущую благодарность Глебу за помощь в выборе и покупке квартиры. Свою двушку в Зелёных аллеях выбрали по рекомендации из его подборки. Решение о покупке приняли за один день, сразу после посещения презентации застройщика. До этого несколько дней ездили по разным районам и застройщикам города, но безрезультатно.
						Также изначально планировали отложить покупку на октябрь, но Глеб убедил меня не затягивать с этим процессом, что сыграло в лучшую сторону: квартиру взяли до повышения первоначалки с 15 до 20%, да ещё и с субсидией ставки и скидкой от застройщика в 50000₽.
						Глеб был всегда на связи, контактировал с застройщиком и брокером, разъяснял нам все важные моменты и консультировал по всем вопросам до и после оформления недвижимости. Помимо этого, он помог с оформлением ипотеки через брокера, одобрение получили довольно быстро и под хороший процент.
						В общем, мы с супругой очень довольны, что все получилось сделать очень быстро, выгодно и без лишних заморочек.
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Элла Комсюкова</h3>
					<img class="feedback__bot-image" src="/assets/img/feedback/feedback06.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Я уже пол года искала разные варианты, работала с двумя риелторами. Это было долго, муторно, задаю вопрос, покаа предыдущая риелтор мне ответит, я не могу разговаривать, когда я отвечаю, уже она занята и ТД. Это была очень долгая, не продуктивная работа.

						От момента как я написала в телеграмм, до созвона пошло секунд 30. Ещё через 10 минут разговора я уже понимала, что мне нужно прямо сейчас найти недостающие деньги для первоначального взноса, потому что судя по всему, квартиру я куплю в ближайшие дни. На столько быстрая, грамотная, с ответами на тысячу вопросов работа, что процесс по итогу оказался простым. Я все боялась начинать работу по покупке квартиры в ипотеку, потому что это все казалось сложным, не понятным, с тысячей подводных камней. Напрягалась, что придется долго все изучать, что наделаю кучу ошибок. Пришел Глеб, в каждом моменте поддержал, рассказал и объяснил. Работа получилась очень быстрая и простая)
						Спасибо ❤
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Елена Берестова</h3>
					<img class="feedback__bot-image" src="/assets/img/feedback/feedback07.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Глеб, хочу выразить вам огромную благодарность за проделанную работу! Честно не верила, что возможно продать и купить за столь короткое время (1, 5 месяца) квартиру)) Всё получилась так как мы хотели!! Большое спасибо за профессиональное сопровождение сделок на каждом этапе. Желаем только успехом и благодарных клиентов!
					</p>
				</article>

				<article class="feedback__bot-article">
					<div class="feedback__bot-header">
						<h3 class="feedback__bot-article-title">Кирилл Андронов</h3>
					<img class="feedback__bot-image" src="/assets/img/feedback/feedback08.jpg" alt="photo-client">
					</div>
					<p class="feedback-desc">
						Большое спасибо за помощь в подборе квартиры и оформлении сделки! Все оформили быстро, без каких либо проблем. Всегда поддерживалась связь и ответ на любой вопрос поступал своевременно. Очень рады, что выбрали Глеба и его команду в таком ответственном деле, как приобретение жилья 😊
					</p>
				</article>
			</div>
			<span class="feedback__bot-feedback"
				>Оставить отзыв можно на странице <a
					class="feedback__bot-feedback-link accent"
					href="https://vk.com/morozgleb">vk.com/morozgleb</a
				>
			</span>
		</div>
	</div>
</section>
