@import "styles/config/variables";

.about-me__wrapper {
	padding-top: 2rem;
	display: flex;
	/*background: $background-main;*/

	@media (max-width: $breakpoint-md) {
		flex-direction: column;
		gap: 22px;
		padding-bottom: 30px;
	}

	// TODO: рефактор
	@media (max-width: 320px) {
		gap: 0;
	}
}


.my-direction {
	display: flex;
	/*min-width: 440px;*/
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;

	@media (max-width: $breakpoint-sm) {

		min-width: auto;
	}

}


.about-my__name {
	display: flex;
	/*min-width: 440px;*/
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;

	background: $background-extra;
	padding: 30px;


	@media (max-width: $breakpoint-xl) {
		padding: 24px;
	}

	@media (max-width: $breakpoint-sm) {
		min-width: auto;
		padding: 16px 8px 8px;
	}

	@media (max-width: $breakpoint-ls) {
		padding: 16px;
	}


}


.my-name__second-title {
	font-size: 30px;
	color: $text-color-secondary;
	margin-bottom: 8px;
	text-transform: uppercase;

	@media (max-width: $breakpoint-xl) {
		font-size: 26px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 20px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 18px;
		margin-bottom: 5px;
	}
}


.my-direction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	@media (max-width: $breakpoint-xl) {
		gap: 32px;
	}

	@media (max-width: $breakpoint-md) {
		gap: 26px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 10px;
	}
}


.my-direction__tittle {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	padding-top: 30px;

	@media (max-width: $breakpoint-xl) {
		font-size: 32px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 22px;
		padding-top: 8px;
	}

}


.cards__title {
	color: $text-color-secondary;
	text-align: center;
	font-size: 18px;
	font-weight: 700;

	@media (max-width: $breakpoint-xl) {
		font-size: 16px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 18px;
	}
}


.my-name__desc {
	font-size: 18px;
	line-height: 34px;
	opacity: 65%;
	color: $text-color-primary;

	@media (max-width: $breakpoint-xl) {
		font-size: 16px;
		line-height: 25px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 16px;
		line-height: 24px;
	}
}


.my-direction-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;

	@media (max-width: $breakpoint-ls) {
		gap: 14px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 10px;
	}
}


.my-direction-article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	flex: 1 0 calc(50% - 40px);
	/* Распределение по 2 карточки в ряду */
	max-width: calc(50% - 40px);
	/* Максимальная ширина карточки */

	@media (max-width: $breakpoint-ls) {
		max-width: calc(50% - 12px);
		gap: 12px;
	}

	@media (max-width: $breakpoint-sm) {
		max-width: calc(119% - 20px);
		gap: 6px;
	}
	


}


// TODO: для чего разные классы?
.my-direction-icon-1,
.my-direction-icon-2,
.my-direction-icon-3,
.my-direction-icon-4 {
	background-repeat: no-repeat;
	width: 65.95px;
	height: 61px;
	background-size: contain;

	@media (max-width: $breakpoint-xl) {
		width: 61px;
		height: 57px;
	}

	@media (max-width: $breakpoint-sm) {
		width: 36px;
		height: 31px;
	}
}


.my-direction-icon-1 {
	background-image: url("assets/icons/icon-zagorod.svg");
}

.my-direction-icon-2 {
	background-image: url("assets/icons/icon-nova.svg");
}

.my-direction-icon-3 {
	background-image: url("assets/icons/icon-secon.svg");
}

.my-direction-icon-4 {
	background-image: url("assets/icons/icon-ipoteka.svg");
}


.my-name-desc-block {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@media (max-width: $breakpoint-xl) {
		gap: 25px;
	}

	@media (max-width: $breakpoint-md) {
		gap: 14px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 10px;
	}
}


.my-direction-desc {
	text-align: center;
	color: $background-fluent;
	font-size: 16px;

	@media (max-width: $breakpoint-xl) {
		font-size: 14px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 14px;
	}
}


.my-name__tittle {
	font-size: 80px;
	font-weight: 400;
	margin-bottom: 40px;

	@media (max-width: $breakpoint-xl) {
		margin-bottom: 26px;
		font-size: 60px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 40px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 30px;
		margin-bottom: 10px;
	}

	@media (max-width: $breakpoint-sm) {
		margin-bottom: 15px;
		font-size: 16px;
	}
}


.about-me__numbers {
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	align-content: center;
	align-self: stretch;
	flex-wrap: wrap;
}

.about-image {
	background-image: url("assets/img/about-image.webp");
	/* width: 920px; */
	height: 473px;
	background-size: contain;
	background-repeat: no-repeat;
	flex: 0 0 50%; /* Set flex-basis to 50% */
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;

	@media (max-width: $breakpoint-xl) {
		height: 337px;
	}

	@media (max-width: $breakpoint-md) {
		height: 265px;
	}

	@media (max-width: $breakpoint-ls) {
		height: 245px;
	}

   
}


.my-xp {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;
	flex: 1 0 0;
}

.my-xp__wrapper {
	background: $background-extra;
	flex: 1 0 0;
}

.my-xp__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 11px;
	flex-wrap: wrap;
	padding: 24px;


	@media (max-width: $breakpoint-xl) {
		gap: 15px;
		padding: 29px;
	}

	@media (max-width: $breakpoint-md) {
		padding: 11px;
	}
}

.my-xp-content__top {
	display: flex;
	align-items: center;
	gap: 80px;
	flex: 1 0 0;

	

	@media (max-width: $breakpoint-md) {
		gap: 60px;
	}

	@media (max-width: $breakpoint-ls) {
	    gap: 22px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 25px;
	}
}

.content__top-titles {
	display: flex;
	height: 171px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;

	@media (max-width: $breakpoint-md) {
	height: auto;
	}
}

.top-titles__desc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;

	@media (max-width: $breakpoint-ls) {
		gap: 4px;
		}
}

.top-titles-first {
	flex-direction: column;
	justify-content: center;
	color: $text-color-secondary;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	font-family: $font-secondary;

	@media (max-width: $breakpoint-xl) {
		font-size: 30px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 24px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 16px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 14px;
	}
}

.content-desc {
    color: #afafaf;
    line-height: 45px;
    font-size: 28px;
    margin-bottom: 28px;
	color: #afafaf;

	@media (max-width: $breakpoint-md) {
		font-size: 20px;
		line-height: 30px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 12px;
		line-height: 20px;
		min-width: 204px;
		margin-bottom: 0px;
	}

	@media (max-width: $breakpoint-sm) {
		line-height: 24px;
		font-size: 10px;
		min-width: 177px;
	}
}

.content-desc__white {
	color: #fff;
}

.top-titles-second {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $text-color-primary;
	font-weight: 400;
    font-size: 68px;
	text-transform: uppercase;
	font-family: $font-secondary;

	@media (max-width: $breakpoint-xl) {
		font-size: 50px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 40px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 26px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 22px;
	}
}

.my-xp-content__bot {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 57px;
	flex-wrap: wrap;

	@media (max-width: $breakpoint-md) {
		gap: 8px;
	}


}

.content__bot-numbers {
	display: flex;
	width: 211.174px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
	flex: 1 0 0;

	@media (max-width: $breakpoint-md) {
		gap: 0px;
	}

	@media (max-width: $breakpoint-ls) {
		align-items: center;
	}

}

.bot-numbers__number {
	color: $text-color-secondary;
	font-weight: 400;
	font-size: 47px;
	text-transform: uppercase;
	font-family: $font-secondary;

	@media (max-width: $breakpoint-xl) {
		font-size: 30px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 26px;
	}

}

.bot-numbers__desc {
	display: flex;
	height: 25px;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
	text-transform: uppercase;
	color: $main-accent;
	font-family: $font-secondary-name;

	@media (max-width: $breakpoint-md) {
		font-size: 12px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 8px;
		max-width: 115px;
	}
}



