---
import "./about-me.style.scss";
import "./script.js";
---

<section class="about-me">
	<div class="container">
		<div class="about-me__wrapper">
			<div class="about-my__name">
				<h3 class="my-name__second-title">Имя сделанное годами</h3>
				<h2 class="my-name__tittle">ОБО МНЕ</h2>
				<div class="my-name-desc-block">
					<span class="my-name__desc"
						>Уже 9 лет я помогаю клиентам решать любые задачи,
						связанные с недвижимостью. В том числе, самые
						нестандартные и сложные сделки.</span
					>
					<span class="my-name__desc"
						>Вы можете бесплатно получить консультацию по всем
						вопросам.</span
					>
					<span class="my-name__desc"
						>Проведу Вас за руку через все круги сделки -
						приватизация, органы опеки, ноатирус, ипотечных квартиры
						и многое другое. В каждом случае я помогу найти
						оптимальное решение.
					</span>
					<span class="my-name__desc"
						>Искренность, стала фундаментом моей жизненной
						философия, работаю на своё имя много лет. Я ценю доверие
						людей, поэтому всегда скажу и покажу всё как есть.</span
					>
				</div>
			</div>
			<div class="my-direction">
				<h2 class="my-direction__tittle">НАПРАВЛЕНИЯ</h2>
				<div class="my-direction-cards">
					<article class="my-direction-article">
						<div class="my-direction-icon-1"></div>
						<h3 class="cards__title">Загородная недвижимость</h3>
						<span class="my-direction-desc"
							>Покупка/продажа земельного участка, загородного
							дома, дачи</span
						>
						<span class="my-direction-desc"
							>Помощь в строительстве дома</span
						>
					</article>

					<article class="my-direction-article">
						<div class="my-direction-icon-2"></div>
						<h3 class="cards__title">Новостройки</h3>
						<span class="my-direction-desc"
							>Подбор новостроек без комиссии</span
						>
						<span class="my-direction-desc"
							>Официальный партнёр ключевых застройщиков</span
						>
					</article>

					<article class="my-direction-article">
						<div class="my-direction-icon-3"></div>
						<h3 class="cards__title">Вторичное жильё</h3>
						<span class="my-direction-desc"
							>Покупка/продажа квартиры под ключи</span
						>
						<span class="my-direction-desc"
							>Одновременная продажа и покупка</span
						>
					</article>

					<article class="my-direction-article">
						<div class="my-direction-icon-4"></div>
						<h3 class="cards__title">Одобрение ипотеки</h3>
						<span class="my-direction-desc"
							>Одобрение 90% заявок</span
						>
						<span class="my-direction-desc"
							>Выбор самой выгодной процентной ставки</span
						>
						<span class="my-direction-desc">Страхование</span>
					</article>
				</div>
			</div>
		</div>

		<div class="about-me__numbers">
			<div class="about-image"></div>
			<div class="my-xp">
				<div class="my-xp__wrapper">
					<div class="my-xp__content">
						<div class="my-xp-content__top">
							<div class="content__top-titles">
								<div class="top-titles__desc">
									<span class="top-titles-first"
										>мой опыт</span
									>
									<span class="top-titles-second">цифры</span>
								</div>
							</div>
							<span class="content-desc">
								<span class="content-desc__white">4 года</span>
								 в качестве специлаиста в АН <br />
								<span class="content-desc__white">2 года</span>
								руководитель Отдела Продаж<br />
								<span class="content-desc__white">3 года</span>
								частная практика</span
							>
						</div>
						<div class="my-xp-content__bot">
							<div class="content__bot-numbers">
								<div class="bot-numbers__number">600+</div>
								<div class="bot-numbers__desc">
									успешных сделок
								</div>
							</div>
							<div class="content__bot-numbers">
								<div class="bot-numbers__number">15 000+</div>
								<div class="bot-numbers__desc">
									проданных м2 жилья
								</div>
							</div>
							<div class="content__bot-numbers">
								<div class="bot-numbers__number">450+</div>
								<div class="bot-numbers__desc">
									выданных ипотек
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
