@import "styles/config/variables";


.about-me {

}

.about-me__wrapper {
	padding-top: 2rem;
	display: flex;
	/*background: $background-main;*/

	@media (max-width: $breakpoint-md) {
		flex-direction: column;
		gap: 22px;
	}

	// TODO: рефактор
	@media (max-width: 320px) {
		gap: 0;
	}
}


.my-direction {
	display: flex;
	/*min-width: 440px;*/
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;

	@media (max-width: $breakpoint-sm) {

		min-width: auto;
	}

}


.about-my__name {
	display: flex;
	/*min-width: 440px;*/
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;

	background: $background-extra;
	padding: 30px;


	@media (max-width: $breakpoint-xl) {
		padding: 24px;
	}

	@media (max-width: $breakpoint-sm) {
		min-width: auto;
		padding: 16px 8px 8px;
	}
}


.my-name__second-title {
	font-size: 30px;
	font-weight: 400;
	color: $text-color-secondary;
	margin-bottom: 8px;
	text-transform: uppercase;

	@media (max-width: $breakpoint-xl) {
		font-size: 26px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 20px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 10px;
		margin-bottom: 5px;
	}
}


.my-direction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	@media (max-width: $breakpoint-xl) {
		gap: 32px;
	}

	@media (max-width: $breakpoint-md) {
		gap: 26px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 10px;
	}
}


.my-direction__tittle {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	padding-top: 30px;

	@media (max-width: $breakpoint-xl) {
		font-size: 32px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 12px;
		padding-top: 8px;
	}

}


.cards__title {
	color: $text-color-secondary;
	text-align: center;
	font-size: 18px;
	font-weight: 400;

	@media (max-width: $breakpoint-xl) {
		font-size: 16px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 9px;
	}
}


.my-name__desc {
	font-size: 18px;
	line-height: 34px;
	opacity: 65%;
	color: $text-color-primary;

	@media (max-width: $breakpoint-xl) {
		font-size: 16px;
		line-height: 25px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 8px;
		line-height: 13px;
	}
}


.my-direction-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	/* Центрирование по горизонтали */

	@media (max-width: $breakpoint-sm) {
		flex-direction: column;
		gap: 10px;
	}
}


.my-direction-article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	flex: 1 0 calc(50% - 40px);
	/* Распределение по 2 карточки в ряду */
	max-width: calc(50% - 40px);
	/* Максимальная ширина карточки */

	@media (max-width: $breakpoint-sm) {
		max-width: calc(119% - 20px);
		gap: 6px;
	}
}


// TODO: для чего разные классы?
.my-direction-icon-1,
.my-direction-icon-2,
.my-direction-icon-3,
.my-direction-icon-4 {
	background-repeat: no-repeat;
	width: 65.95px;
	height: 61px;
	background-size: contain;

	@media (max-width: $breakpoint-xl) {
		width: 61px;
		height: 57px;
	}

	@media (max-width: $breakpoint-sm) {
		width: 36px;
		height: 31px;
	}
}


.my-direction-icon-1 {
	background-image: url("public/assets/icons/icon-zagorod.svg");
}

.my-direction-icon-2 {
	background-image: url("public/assets/icons/icon-nova.svg");
}

.my-direction-icon-3 {
	background-image: url("public/assets/icons/icon-secon.svg");
}

.my-direction-icon-4 {
	background-image: url("public/assets/icons/icon-ipoteka.svg");
}


.my-name-desc-block {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@media (max-width: $breakpoint-xl) {
		gap: 25px;
	}

	@media (max-width: $breakpoint-md) {
		gap: 14px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 10px;
	}
}


.my-direction-desc {
	text-align: center;
	color: $background-fluent;
	font-size: 16px;

	@media (max-width: $breakpoint-xl) {
		font-size: 14px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 8px;
	}
}


.my-name__tittle {
	font-size: 80px;
	font-weight: 400;
	margin-bottom: 40px;

	@media (max-width: $breakpoint-xl) {
		margin-bottom: 26px;
		font-size: 60px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 40px;
	}

	@media (max-width: $breakpoint-sm) {
		margin-bottom: 15px;
		font-size: 16px;
	}
}


.about-me__numbers {
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	align-content: center;
	align-self: stretch;
	flex-wrap: wrap;
}

.about-image {
	background-image: url("public/assets/img/about-image.webp");
	/* width: 920px; */
	height: 593px;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 50%; /* Set flex-basis to 50% */
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;
}


.my-xp {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;
	flex: 1 0 0;
}

.my-xp__wrapper {
	background: $background-extra;
	flex: 1 0 0;
}

.my-xp__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 77px;
	flex-wrap: wrap;
	padding: 48px;
}

.my-xp-content__top {
	display: flex;
	align-items: center;
	gap: 50px;
	flex: 1 0 0;
}

.content__top-titles {
	display: flex;
	height: 171px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
}

.top-titles__desc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.top-titles-first {
	flex-direction: column;
	justify-content: center;
	color: $text-color-secondary;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	font-family: $font-secondary
}

.content-desc {
	line-height: 36px;
}

.top-titles-second {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $text-color-primary;
	font-weight: 400;
	font-size: 80px;
	text-transform: uppercase;
	font-family: $font-secondary
}

.my-xp-content__bot {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 18px;
	flex-wrap: wrap;
}

.content__bot-numbers {
	display: flex;
	width: 211.174px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 15px;
	flex: 1 0 0;
}

.bot-numbers__number {
	color: $text-color-secondary;
	font-weight: 400;
	font-size: 54px;
	text-transform: uppercase;
	font-family: $font-secondary
}

.bot-numbers__desc {
	display: flex;
	width: 211.174px;
	height: 25px;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
	font-weight: 400;
}
