---
import "./services.style.scss";
---

<section class="services">
	<div class="container">
		<div class="services__top">
			<span class="services__top-desc">МОИ ПРЕИМУЩЕСТВА</span>
			<h2 class="services__top-title">УСЛУГИ И СТОИМОСТЬ</h2>
		</div>
		<div class="services__bot">
			<article class="services__bot-article">
				<h3 class="services__bot-article-title">ПРОДАЖА</h3>
				<ul class="services__bot-article-list">
					<li class="services__bot-article-item">
						Юридическая консультация
					</li>
					<li class="services__bot-article-item">
						Оценка рыночкной стоимости
					</li>
					<li class="services__bot-article-item">
						Профессиональная фото-съёмка квартиры
					</li>
					<li class="services__bot-article-item">Реклама</li>
					<li class="services__bot-article-item">Поиск покупателя</li>
					<li class="services__bot-article-item">
						Сопровождение сделки
					</li>
				</ul>
				<span
					class="services__bot-article-desc"
					<span
					class="services__bot-article-desc"
				>
					<span class="accent">35 000 руб.</span> + <span
						class="accent">1%</span
					> от стоимости объекта недвижимости</span
				>
			</article>
			<article class="services__bot-article">
				<h3 class="services__bot-article-title">ПОКУПКА</h3>
				<ul class="services__bot-article-list">
					<li class="services__bot-article-item">
						Юридическая консультация
					</li>
					<li class="services__bot-article-item">
						Одобрение ипотеки
					</li>
					<li class="services__bot-article-item">
						Поиск квартиры/дома
					</li>
					<li class="services__bot-article-item">
						Сопровождение сделки
					</li>
					<li class="services__bot-article-item">
						Страхование ипотеки
					</li>
					<li class="services__bot-article-item">
						Консультация
					</li>
				</ul>
				<span class="services__bot-article-desc">
					<span class="accent">30 000 руб.</span> + <span
						class="accent">1%</span
					> от стоимости объекта недвижимости</span
				>
			</article>
			<article class="services__bot-article">
				<h3 class="services__bot-article-title">НОВОСТРОЙКИ</h3>
				<ul class="services__bot-article-list">
					<li class="services__bot-article-item">
						Подбор квартиры в новостройке
					</li>
					<li class="services__bot-article-item">
						Одобрение ипотеки
					</li>
					<li class="services__bot-article-item">
						Только проверенные застройщики
					</li>
					<li class="services__bot-article-item">
						Дистанционная сделка
					</li>
					<li class="services__bot-article-item">Скидка на ремонт</li>
					<li class="services__bot-article-item">
						Помощь в приёме квартиры
					</li>
				</ul>
				<span class="services__bot-article-desc accent">БЕСПЛАТНО</span>
			</article>
		</div>
		<div class="center-container">
			<button class="services-btn">Все услуги</button>
		</div>
	</div>
</section>
