---
import "./RightsProtection.scss";
---

<section class="rights-protection">
<div class="container">
	<div class="footer__down flex">
		<span class="down__desc">Все права защищены © 2024 ИП Мороз Г.О.</span>
		<span class="down__desc">ИНН: 890301562034</span>
		<span class="down__desc">ОГРНИП: 320723200030350</span>
		<span class="down__desc"
			>Поддержка, разработка сайтов в Frost Solutions</span
		>
	</div>
</div>
</section>
