@import "styles/config/variables";

.hero {
	position: relative;
	background-image: url("/assets/img/hero-image.webp");
	display: flex;
	align-items: center;
	min-height: 860px;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	overflow: hidden;
	
	/* Новое свойство для ограничения ширины .hero */
	/* Центрирование .hero по горизонтали */

	@media (width <=$breakpoint-xxl) {
		min-height: 680px;
	}

	@media (width <=$breakpoint-xl) {
		min-height: 680px;
	}

	@media (width <=$breakpoint-md) {
		min-height: $breakpoint-sm;
	}

	@media (width <=$breakpoint-sm) {
		min-height: 240px;
	}


	// TODO: отрефакторить
	@media (max-width: 320px) {
		min-height: 165px;
		background-repeat: round;
	}
}

.hero-wrapper {

	@media (max-width: $breakpoint-xl) {
	    padding-left: 90px;
	}

	@media (max-width: $breakpoint-md) {
		padding-left: 60px;
	}

	@media (max-width: $breakpoint-ls) {
		padding: 20px;
	}

	@media (max-width: $breakpoint-sm) {
		padding: 0px 0px 0px 30px;
	}

}


.hero-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	pointer-events: none;
}

.person-face {
	position: absolute;
	bottom: -15px;
	right: 0;
	width: 550px;

	@media (width <=$breakpoint-xxl) {
		width: 400px;
	}

	@media (width <=$breakpoint-xl) {
		width: 450px;
	}

	@media (width <=$breakpoint-md) {
	    width: 260px;
	}

	@media (width <=$breakpoint-ls) {
	    width: 220px;
	}

	@media (width <=400px) {
		width: 215px;
	}

	@media (width <=370px) {
		width: 190px;
	}
}

.person-face>img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.hero-text-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;


	
	@media (max-width: $breakpoint-ls) {
		padding: 0;
	}
}


.hero__text-one {
	font-size: 70px;
	color: $text-color-primary;
	z-index: 1;
	font-weight: 400;
	font-family: $font-secondary;

	// TODO: отрефакторить
	@media (max-width: 1280px) {
		font-size: 45px;
		margin-bottom: 8px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 30px;
		margin-bottom: 0px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 32px;
		margin-bottom: 2px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 16px;
		margin-bottom: 0;
	}
}


.hero__text-two {
	color: $text-color-secondary;
	z-index: 1;
	font-size: 112px;
	font-weight: 400;

	// TODO: отрефакторить
	@media (max-width: 1280px) {
		font-size: 70px;
		margin-bottom: 22px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 50px;
		margin-bottom: 0px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 44px;
		margin-bottom: 4px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 24px;
		margin-bottom: 5px;
	}
}


.hero__text_three {
	z-index: 1;
	color: $text-color-primary;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 5.6px;
	margin-bottom: 25px;

	// TODO: отрефакторить
	@media (max-width: 1280px) {
		font-size: 20px;
	}

	@media (max-width: $breakpoint-md) {
		margin-bottom: 20px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 16px;
		margin-bottom: 16px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 10px;
		margin-bottom: 14px;
	}
}


.hero-button {
	cursor: pointer;
	display: flex;
	padding: 16px 28px;
	align-items: center;
	gap: 32px;
	background: $background-secondary;
	z-index: 1;
	border-radius: 30px;
	z-index: 0;

	&:hover {
		background: #2686a6;
		transition: ease-in-out 0.3s;
	}

	&:active {
		background: #36c3ee;
		transition: ease-in-out 0.3s;
	}

	@media (max-width: 1540px) {
		gap: 20px;
		padding: 13px 22px;
	}

	@media (max-width: 1435px) {
		gap: 8px;
		padding: 11px 16px;
	}

	@media (max-width: $breakpoint-md) {
		gap: 15px;
		padding: 8px 12px;
	}

	@media (max-width: $breakpoint-ls) {
		padding: 9px 14px;
		gap: 10px;
	}
}


.hero-btn-icon {
	background-image: url("/assets/icons/icon-phone.svg");
	height: 53px;
	width: 47.479px;
	background-size: contain;
	background-repeat: no-repeat;

	&:hover {
		rotate: 64deg;
		transition: ease-in-out 0.3s;
	}


	@media (max-width: 1540px) {
		height: 54px;
		width: 54.479px;
	}

	@media (max-width: 1435px) {
		height: 44px;
		width: 49.479px;
	}

	@media (max-width: $breakpoint-md) {
		height: 27px;
		width: 27.479px;
	}

	@media (max-width: $breakpoint-ls) {
		height: 24px;
		width: 23.479px;
	}

	@media (max-width: $breakpoint-sm) {
		width: 13.479px;
		height: 15px;
	}
}


.hero-btn-text {
	color: $text-color-primary;
	font-size: 36px;
	font-weight: 400;
	font-size: 25px;

	@media (max-width: 1540px) {
		font-size: 30px;
	}

	@media (max-width: 1435px) {
		font-size: 27px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 16px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 12px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 12px;
		padding: 2px;
	}
}


.hero-btn-block {
	display: flex;
	align-items: center;
	gap: 100px;
	flex-wrap: wrap;
	max-width: 80rem;

	@media (max-width: 1540px) {
		gap: 68px;
		max-width: 71rem;
	}

	@media (max-width: 1435px) {
		gap: 37px;
		max-width: 50rem;
	}

	@media (max-width: $breakpoint-md) {
		gap: 20px;
		align-items: baseline;
		flex-direction: column;
	}

	@media (max-width: $breakpoint-ls) {
		gap: 20px;
		max-width: 15rem;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 20px;
	}
}


.hero-desc {
	flex: 1 0 0;
	color: $text-color-primary;
	font-size: 34px;
	line-height: 50px;
	z-index: 0;
	margin: 0;
	min-width: 460px;
	z-index: 3;

	
	@media (max-width: $breakpoint-xl) {
		max-width: 410px;
		font-size: 22px;
		line-height: 2.2rem;
		min-width: 440px;
	}


	@media (max-width: $breakpoint-md) {
		line-height: 24px;
		min-width: 380px;
		font-size: 18px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 16px;
		line-height: 24px;
		min-width: 220px;
	}


	@media (max-width: $breakpoint-sm) {
		min-width: 187px;
		line-height: 2;
		font-size: 8px;
	}

}


.hero-desc__color {
	color: $text-color-secondary;
	font-weight: 700;
}


/* Modal base styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #0E0E0E;
    margin: 15% auto; /* 15% from the top and centered */
	padding: 30px;
    border: 1px solid #888;
    width: 15%; /* Could be more or less, depending on screen size */
    color: white; /* Text color */
	border-radius: 40px;

	@media (max-width: 1500px) {
		width: 25%;
	}

	@media (max-width: $breakpoint-xl) {
		width: 30%;
	}

	@media (max-width: $breakpoint-md) {
		width: 37%;
	}

	@media (max-width: $breakpoint-ls) {
		width: 65%;
	}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	top: -15px;
    right: -10px;
    position: relative;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add styles for the form elements here */
form {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=submit] {
	margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
	background-color: #4d4d4d;
	color: white;

	@media (max-width: $breakpoint-ls) {
		margin-bottom: 20px;
	}
	
}

input[type=submit] {
    background-color: #22b4e1;
    color: white;
	font-family: $font-secondary;
}

/* Add more styles for the text at the bottom of the modal */
form > p {
    font-size: 0.8em;
}

.label-form {
	margin-bottom: 10px;
}

.form-text {
	color: white;
	margin: 0;
}

.error-message {
    color: red;
    font-size: 14px;
    height: 20px;
    display: none; /* Скрыть элементы по умолчанию */
	height: 32px;
}
