@import "styles/config/variables";

.hero {
	position: relative;
	background-image: url("assets/img/hero-image.webp");
	display: flex;
	align-items: center;
	min-height: 860px;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	/* Новое свойство для ограничения ширины .hero */
	/* Центрирование .hero по горизонтали */

	@media (width <=$breakpoint-xxl) {
		min-height: 680px;
	}

	@media (width <=$breakpoint-xl) {
		min-height: 680px;
	}

	@media (width <=$breakpoint-md) {
		min-height: $breakpoint-sm;
	}

	@media (width <=$breakpoint-sm) {
		min-height: 240px;
	}


	// TODO: отрефакторить
	@media (max-width: 320px) {
		min-height: 165px;
		background-repeat: round;
	}
}

.hero-wrapper {
	@media (max-width: $breakpoint-ls) {
		padding: 20px;
	}

	@media (max-width: $breakpoint-sm) {
		padding: 8px;
	}

}


.hero-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	pointer-events: none;
}

.person-face {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 600px;

	@media (width <=$breakpoint-xxl) {
		height: 500px;
	}

	@media (width <=$breakpoint-xl) {
		height: 400px;
	}

	@media (width <=$breakpoint-md) {
		height: 235px;
	}

	@media (width <=330px) {
		height: 205px;
	}
}

.person-face>img {
	width: 100%;
	height: 100%;
	object-fit: contain;

	@media (width <=$breakpoint-md) {
		height: 101%;
	}

}


.hero-text-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;


	@media (max-width: $breakpoint-md) {
		padding: 5px 60px;
	}

	@media (max-width: $breakpoint-ls) {
		padding: 0;
	}
}


.hero__text-one {
	font-size: 70px;
	color: $text-color-primary;
	z-index: 2;
	font-weight: 400;
	font-family: $font-secondary;

	// TODO: отрефакторить
	@media (max-width: 1280px) {
		font-size: 45px;
		margin-bottom: 8px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 30px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 22px;
		margin-bottom: 2px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 16px;
		margin-bottom: 0;
	}
}


.hero__text-two {
	color: $text-color-secondary;
	z-index: 1;
	font-size: 112px;
	font-weight: 400;

	// TODO: отрефакторить
	@media (max-width: 1280px) {
		font-size: 70px;
		margin-bottom: 22px;
	}

	@media (max-width: $breakpoint-md) {
		font-size: 50px;
		margin-bottom: 0px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 30px;
		margin-bottom: 4px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 24px;
		margin-bottom: 5px;
	}
}


.hero__text_three {
	z-index: 1;
	color: $text-color-primary;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 5.6px;
    margin-bottom: 25px;

	// TODO: отрефакторить
	@media (max-width: 1280px) {
		font-size: 20px;
	}

	@media (max-width: $breakpoint-md) {
		margin-bottom: 20px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 14px;
		margin-bottom: 12px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 10px;
		margin-bottom: 14px;
	}
}


.hero-button {
	cursor: pointer;
	display: flex;
	padding: 10px 24px;
	align-items: center;
	gap: 16px;
	background: $background-secondary;
	z-index: 1;
	border-radius: 20px;

	@media (max-width: $breakpoint-md) {
		padding: 5px;
		gap: 10px;
	}

	@media (max-width: $breakpoint-ls) {
		padding: 6px 12px;
		gap: 10px;
	}
}


.hero-btn-icon {
	background-image: url("assets/icons/icon-phone.svg");
	width: 35.479px;
	height: 41px;
	background-size: contain;
	background-repeat: no-repeat;


	@media (max-width: $breakpoint-md) {
		width: 24.479px;
		height: 26px;
	}

	@media (max-width: $breakpoint-md) {
		width: 18.479px;
		height: 20px;
	}

	@media (max-width: $breakpoint-ls) {
		height: 17px;
		width: 15.479px;
	}

	@media (max-width: $breakpoint-sm) {
		width: 13.479px;
		height: 15px;
	}
}


.hero-btn-text {
	color: $text-color-primary;
	font-size: 28px;
	font-weight: 400;

	@media (max-width: 1280px) {
		font-size: 14px;
	}

	@media (max-width: $breakpoint-ls) {
		font-size: 8px;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 10px;
		padding: 2px;
	}
}


.hero-btn-block {
	display: flex;
	align-items: center;
	gap: 60px;
	flex-wrap: wrap;
	max-width: 60rem;

	@media (max-width: $breakpoint-md) {
		gap: 10px;
		align-items: baseline;
		flex-direction: column;
		/*min-width: 145%;*/
	}

	@media (max-width: $breakpoint-ls) {
	    gap: 15px;
	}

	@media (max-width: $breakpoint-sm) {
		gap: 20px;
	}


}


.hero-desc {
	flex: 1 0 0;
	color: $text-color-primary;
	font-size: 28px;
	line-height: 44px;
	z-index: 1;
	margin: 0;
	min-width: 460px;

	@media (max-width: $breakpoint-xl) {
		max-width: 410px;
		font-size: 22px;
		line-height: 2.2rem;
		min-width: 440px;
	}


	@media (max-width: $breakpoint-md) {
		line-height: 24px;
		min-width: 380px;
		font-size: 18px;
	}

	@media (max-width: $breakpoint-ls) {
		line-height: 21px;
		min-width: 268px;
		font-size: 12px;
	}


	@media (max-width: $breakpoint-sm) {
		min-width: 187px;
		line-height: 2;
		font-size: 8px;
	}

}
