---
import './hero.style.scss'
---

<section class="hero">
	<div class="container">
		<div class="hero-wrapper">
			<div class="hero-text-block">
				<span class="hero__text-one">ЧАСТНЫЙ</span>
				<h1 class="hero__text-two">РИЭЛТОР</h1>
				<h2 class="hero__text_three">г. Тюмень</h2>
				<div class="hero-btn-block">
					<button class="hero-button btn-rest">
						<div class="hero-btn-icon"></div>
						<div class="hero-btn-text">ЗАКАЗАТЬ ЗВОНОК</div>
					</button>
					<p class="hero-desc">Сделки любой сложности, честно, <span class="hero-desc__color">быстро</span> и <span class="hero-desc__color">безопасно</span>. Моя задача - решить Ваш жилищный вопрос!</p>
				</div>
			</div>

		</div>
	</div>

	<div class="person-face">
		<img src="assets/img/Persona-face%201280.png" alt="Gleb Moroz">
	</div>
</section>
