---
import "./Partnership.scss";
---

<section class="partnership-conditions">
	<div class="container">
		<h2 class="partnership__titel">Условия сотрудничества</h2>
		<div class="cards">
			<div class="card cards__card--no-penalties">
				<h3 class="card__title">
					Работа по продаже осуществляется на эксклюзиве
				</h3>
				<p class="card__text">
					Продажей объекта недвижимости занимаюсь только я, такой
					подход показал самые лучшие результаты.
				</p>
				<p class="card__text">
					Почему эксклюзив? <br />
					 В отличии от многих агентств, я вкладываюсь в рекламу.
					Ежемесячно на каждую квартиру в среднем уходит около 5000
					рублей.
				</p>
				<p class="card__text">
					Множество одинаковых объявлений одной и той же квартиры/дома
					ухудшают динамику продажи.
				</p>
				<p class="card__text">
					<span class="accent"> Нету никаких штрафных санкций</span>,
					если вы передумаете продавать или продадите самостоятельно.
					Речь идёт о выставлении объекта недвижимости самостоятельно
					и в других агентствах.
				</p>
			</div>
			<div class="card cards__card--guarantees">
				<h3 class="card__title">Гарантии</h3>
				<p class="card__text">
					Любая сделка - это всегда риск. И никто и никогда не даст
					Вам 100% гарантий в сделках купли-продажи недвижимости.
				</p>
				<p class="card__text">
					В большинстве случаев рассказы о гарантиях и безопасности,
					это не больше чем маркетинг.
				</p>
				<p class="card__text">
					<span class="accent">Моя задача</span> - использовать свои
					знания, сделать для Вас сделку максимальной безопасной.
				</p>
				<p class="card__text">
					Мы, как профессионалы своего дела, можем лишь уменьшить риск
					до минимального.
				</p>
				<p class="card__text">
					Как во время сделки, так и после, я всегда на связи, и
					всегда стараюсь помочь своим клиентам.
				</p>
			</div>
			<div class="card cards__card--remote-work">
				<h3 class="card__title">Максимальная отдаленность работы</h3>
				<p class="card__text">
					Работаю по Тюмени и Тюменской области до <span
						class="accent">40 км</span
					>
				</p>
				<p class="card__text">
					Возможно <span class="accent">удаленное</span> сопровождение
					сделок
				</p>
			</div>
			<div class="card cards__card--discounts">
				<h3 class="card__title">Скидки</h3>
				<p class="card__text card__text--discount">
					При одновременной покупке и продаже <span class="accent"
						>скидка 20%</span
					>
				</p>
				<p class="card__text card__text--discount">
					При повторном обращении <span class="accent"
						>скидка 15%</span
					>
				</p>
			</div>
		</div>
	</div>
</section>
