---
import './header.style.scss'
---

<script src="./header.script.js"></script>
<header class="header">
	<div class="container header-wrapper">
		<div class="logo-wrapper">
			<a href="/" class="logo">
				<img src="assets/img/logo.svg" alt="logo">
			</a>
			<div class="logo__text">
				<span class="logo-text-one">МОРОЗ ГЛЕБ</span>
				<span class="logo-text-two">Агент по недвижимости</span>
			</div>
		</div>

		<nav class="navigation">
			<a class="nav_link" href="/">Главная</a>
			<a class="nav_link" href="/about-me">Обо мне</a>
			<a class="nav_link" href="/prices">Услуги и цены</a>
			<a class="nav_link" href="/feedback">Отзывы</a>
			<a class="nav_link" href="/news">Новости</a>
			<a class="nav_link" href="#contacts">Контакты</a>
		</nav>

		<div class="burger-menu">
			<div></div>
			<div></div>
			<div></div>
			<!-- Крестик для закрытия -->
			<div class="burger-close">&#10005;</div>
		</div>
		

		<div class="dropdown-menu">
			<a class="nav_link" href="/">Главная</a>
			<a class="nav_link" href="/about-me">Обо мне</a>
			<a class="nav_link" href="/prices">Услуги и цены</a>
			<a class="nav_link" href="/feedback">Отзывы</a>
			<a class="nav_link" href="/news">Новости</a>
			<a class="nav_link" href="/contacts">Контакты</a>
		</div>

		<div class="phone-wrapper">
			<button class="header__button">
				<a class="header__phone" href="tel:+79120781701">
					<span class="header__phone-text">8-912-078-17-01</span>
				</a>
			</button>
			
			<button class="header__button">
				<a class="" href="tel:+79120781701">
					<div class="icon">
						<img src="assets/icons/icon-phone.svg" alt="phone">
					</div>
				</a>
			</button>
		</div>
	</div>
</header>
