---
import "./Footer.style.scss";
---

<footer class="footer">
	<div class="container">
		<div class="footer-wrapper flex">
			<div class="footer__questions flex">
				<div class="questions__wrapper">
					<h2 class="questions__title font-weight-400">
						ЕСТЬ ВОПРОС?
					</h2>
					<h3 class="questions__answer font-weight-400">
						ПОМОЖЕТ МОРОЗ!
					</h3>
				</div>
				<span class="questions__desc"
					>Прием заявок 24 часа в сутки, 7 дней в неделю</span
				>
			</div>

			<div class="footer__contacts flex">
				<div class="contacts-block flex">
					<img
						src="assets/icons/phone-contacts.svg"
						alt="phone-contacts"
						class="phone__img"
					/>
					<div class="block__text">
						<h4 class="block-text__title">
							Звоните нам по номеру:
						</h4>
						<a href="tel:+79120781701" class="block-text__desc"
							>+7 (912) 078-17-01</a
						>
					</div>
				</div>

				<div class="contacts-block flex">
					<img
						src="assets/icons/mail-contacts.svg"
						alt="mail-contacts"
						class="mail__img"
					/>
					<div class="block__text">
						<h4 class="block-text__title">Пишите мне на адрес:</h4>
						<a
							href="mailto:G.O.MOROZ72@GMAIL.COM"
							class="block-text__desc">G.O.MOROZ72@GMAIL.COM</a
						>
					</div>
				</div>

				<div class="contacts-block flex">
					<img
						src="assets/icons/time-contacts.svg"
						alt="time-contacts"
						class="time__img"
					/>
					<div class="block__text">
						<h4 class="block-text__title">Часы работы:</h4>
						<span class="block-text__desc">9:00 - 21:00</span>
					</div>
				</div>
			</div>

			<div class="footer__social-links flex">
				<ul class="social-links__list">
					
					<li class="social-links__item">
						<a
							href="https://wa.me/89120781701"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								src="assets/icons/whatsapp.svg"
								alt="WhatsApp"
								class="social-links__img social-links__img--whatsapp"
							/>
						</a>
					</li>

					<li class="social-links__item">
						<a href="https://t.me/GFrostO" target="_blank" rel="noopener noreferrer">
						  <img
							src="assets/icons/telegram.svg"
							alt="Telegram"
							class="social-links__img social-links__img--telegram"
						  />
						</a>
					  </li>
					  

					  <li class="social-links__item">
						<a href="https://vk.com/morozgleb" target="_blank" rel="noopener noreferrer">
						  <img
							src="assets/icons/vk.svg"
							alt="VK"
							class="social-links__img social-links__img--vk"
						  />
						</a>
					  </li>
					  

				</ul>
			</div>
		</div>
	</div>
</footer>
