---
import "./partners.scss";
---



<section class="partners">
    <div class="container">
        <h2 class="partners__title">ПАРТНЁРЫ ЗАСТРОЙЩИКИ</h2>
        <div class="partners__wrapper">
            <div class="partners__top">
				<img src='assets/img/logo-strana.svg' alt="logo" class="partners__logo">
				<img src='assets/img/logo-brusnika.svg' alt="logo" class="partners__logo">
				<img src='assets/img/logo-newton.svg' alt="logo" class="partners__logo">
				<img src='assets/img/logo-4d.svg' alt="logo" class="partners__logo logo__height">
			</div>
            <div class="partners__bot">
				<img src='assets/img/logo-b72.svg' alt="logo" class="partners__logo">
				<img src='assets/img/logo-partner.svg' alt="logo" class="partners__logo">
				<img src='assets/img/logo-sozdateli.svg' alt="logo" class="partners__logo">
				<img src='assets/img/logo-korney.svg' alt="logo" class="partners__logo">
			</div>
        </div>
    </div>
</section>
