---
import "./AboutMePage.scss";
---

<section class="about-me-page">
	<div class="container">
		<div class="about-me-page__wrapper">
			<div class="about-me-page__top">
				<h1 class="about-me-page__title">ОБО МНЕ</h1>
				<h2 class="about-me-page__subtitle">Мой путь в недвижимости</h2>
			</div>

			<div class="about-me-page__bottom">
				<div class="page-bottom__content-block">
					<h3 class="about-me-page__bottom-title">
						Интерьерный фотограф (2014-2016)
					</h3>
					<div class="about-me-page__content">
						<div class="about-me-page__text">
							<p class="about-me-page__description">
								В 2014 году начался мой путь в недвижимости в
								качестве фотографа в компании «Этажи», я
								занимался интерьерной фотосъёмкой объектов
								недвижимости.
							</p>
							<p class="about-me-page__description">
								Благодаря этому, я приобрёл огромный опыт работы
								фотосъёмки и пост обработки, что позволяет
								сейчас создавать прекрасный кадры для рекламы
								объекта недвижимости,
							</p>
							<p class="about-me-page__description">
								Около 70% успеха продажи заключается в продающих
								фотографиях, и я умею это делать.
							</p>
						</div>

						<div class="about-me-page__imageblock">
							<img
								src="/assets/img/about-photo.webp"
								alt="about-me-image"
								class="about-me-page__image"
							/>
						</div>
					</div>
					<div class="about-me-page__text-bot">
						<p class="about-me-page__description">
							Помимо фотосъёмки я занимался разной визуализацией,
							включая создания 3D панорам, туров.
						</p>
					</div>
				</div>
	

			<div class="page-bottom__content-block">
				<h3 class="about-me-page__bottom-title">
					Агент по недвижимости (2016-2019)
				</h3>
				<div class="about-me-page__content">
					<div class="about-me-page__text">
						<p class="about-me-page__description">
							В 2016 я стал специалистом по недвижимости в
							компании «Этажи»
						</p>
						<p class="about-me-page__description">
							В момент этого перехода, я очень сильно переживал
							из-за того, что в моих представлениях успешные
							риелторы иногда обманывают людей, но это оказалось
							не так, и моя честность оказалась здесь как раз
							кстати.
						</p>
						<p class="about-me-page__description">
							Прошёл обучение и получил сертификат риелтора.
						</p>
						<p class="about-me-page__description">
							Моей первой сделкой стала квартира, где
							использовался материнский капитал, программа молодая
							семья, обременение банком…
						</p>
						<p class="about-me-page__description">
							Такая сделка считалась одной из самой сложной в те
							времена, но тяжело в учении – легко в бою!
						</p>
						<p class="about-me-page__description">
							Благодаря этому, всё остальные сделки начали
							казаться мне очень простыми.
						</p>
					</div>

					<div class="about-me-page__imageblock">
						<img
							src="/assets/img/about-rieltor.webp"
							alt="about-me-image"
							class="about-me-page__image"
						/>
					</div>
				</div>
				<div class="about-me-page__text-bot">
					<p class="about-me-page__description">
						Мне удалось войти в топ-50 риелторов этажей по всей
						сети, делая по 6-10 сделок в месяц.
					</p>
					<p class="about-me-page__description">
						Занимался всеми направлениями – вторичный рынок,
						новостройки, загородный. Более 100 семей, за этот период
						работы, приобрели с моей помощью новый дом.
					</p>
					<p class="about-me-page__description">
						С 6 месяца работы начались рекомендацией клиентов, и с
						этого момента и до сих пор я не ищу клиентов, они сами
						меня находят. И я ценю это доверие.
					</p>
				</div>
			</div>

			<div class="page-bottom__content-block">
				<h3 class="about-me-page__bottom-title">
					Руководитель отдела продаж (2019-2020)
				</h3>
				<div class="about-me-page__content">
					<div class="about-me-page__text">
						<p class="about-me-page__description">
							В конце 2019 года, я принял решение, что мне нужно
							идти дальше и развиваться.
						</p>
						<p class="about-me-page__description">
							Было принято решение стать руководителем отдела
							продаж в компании «Миэль» (сейчас Willmax).
						</p>
						<p class="about-me-page__description">
							Занимался управлением команды из 10 специалистов по
							недвижимости. Делился своим опытом, направлял их в
							нужном направлении, что привело к заметным
							результатам в виде задаток и сделок.
						</p>
						<p class="about-me-page__description">
							Занимался обучением, провёл в качестве преподавателя
							более 100 часов.
						</p>
						<p class="about-me-page__description">
							Обучал по разным направлениям новичков, которые
							приходили работать в компанию.
						</p>
					</div>

					<div class="about-me-page__imageblock">
						<img
							src="/assets/img/about-rop.webp"
							alt="about-me-image"
							class="about-me-page__image"
						/>
					</div>
				</div>
				<div class="about-me-page__text-bot">
					<p class="about-me-page__description">
						Занимался юридической частью, составлял договора,
						соглашения и т.д.
					</p>
					<p class="about-me-page__description">
						Курировал сделки новичков, составлял ИПР (индивидуальные
						планы развития), проводил еженедельные брифинги и много
						чего еще.
					</p>
				</div>
			</div>

			<div class="page-bottom__content-block">
				<h3 class="about-me-page__bottom-title">
					Частная практика (2020 – по настоящее время)
				</h3>
				<div class="about-me-page__content">
					<div class="about-me-page__text">
						<p class="about-me-page__description">
							В период пандемии covid-19 в 2020 году, я принял
							решение открыть частную практику, открыв ИП Мороз
							Глеб Олегович.
						</p>
						<p class="about-me-page__description">
							С этого момента я занимаюсь любимым делом и помогаю
							людям улучшить их качество жизни.
						</p>
						<p class="about-me-page__description">
							Заключил договора со всем ведущими застройщиками в
							г. Тюмень
						</p>
						<p class="about-me-page__description">
							За 2021 год я провёл 83 сделки купли-продажи.
						</p>
						<p class="about-me-page__description">
							С 2023 года открыл дополнительно направление по
							строительству домов, теперь я помогаю людям не
							только найти свой новый дом, но и создать его!
						</p>
					</div>

					<div class="about-me-page__imageblock">
						<img
							src="/assets/img/about-ip.webp"
							alt="about-me-image"
							class="about-me-page__image"
						/>
					</div>
				</div>
				<div class="about-me-page__text-bot">
					<p class="about-me-page__description">
						Я стараюсь всегда стать на место клиента и найти самое
						лучшее решение, которое только может быть в этой
						ситуации. Будь то одобрить лучшую ставку по ипотеке,
						выбрать объект инвестиций, подобрать хорошую квартиру и
						т.д. Буду рад помочь Вам с жилищным вопросом, каким бы
						сложным он не казался
					</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
