---
import './BEST-PROJECTS.scss'


---

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="./slider.js"></script>


<section class="best-projects">
	<div class="swiper">
	  <!-- Additional required wrapper -->
	  <div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
		  slide 1
		  <img class="image-1" src="assets/img/slide-1.webp" />
		</div>
		<div class="swiper-slide">
			<img class="image-2" src="assets/img/slide-2.webp" />
		</div>
		<div class="swiper-slide">
			<img class="image-3" src="assets/img/slide-3.webp" />
		</div>
		<!-- Дополнительные слайды можно добавить здесь -->
	  </div>
	  <!-- If we need pagination -->
	  <div class="swiper-pagination"></div>
	
	  <!-- If we need navigation buttons -->
	  <div class="swiper-button-prev"></div>
	  <div class="swiper-button-next"></div>
	
	  <!-- If we need scrollbar -->
	  <div class="swiper-scrollbar"></div>
	</div>
  </section>
  
