---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@styles/config/default.scss';
---

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>{title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Мороз Глеб риелтор в Тюмени - помогаю купить и продать загородную недвижимость, вторичное жилье. Подбор новостроек без комиссии. Полное юридическое сопровождение сделок. Бесплатное одобрение ипотеки.">
	<meta name="keywords" content="недвижимость Тюмень, купить квартиру Тюмень, продажа недвижимости Тюмень, агентство недвижимости Тюмень, ипотека Тюмень, новостройки Тюмень, загородная недвижимость Тюмень">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Мороз Глеб риелтор в Тюмени">
	<meta property="og:description" content="Купить, продать и обменять недвижимость в Тюмени. Полное сопровождение сделок и помощь в получении ипотеки.">
	<meta property="og:image" content="/assets/img/Persona-face%201280.png">
	<meta property="og:url" content="https://morozagent.ru">

	<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "RealEstateAgent",
		  "name": "Мороз Глеб - частный риелтор",
		  "url": "https://morozagent.ru",
		  "telephone": "89120781701",
		  "address": {
			"@type": "PostalAddress",
			"streetAddress": "morozagent.ru",
			"addressLocality": "Тюмень",
			"addressRegion": "Тюменская область",
			"postalCode": "625000"
		  }
		}
		</script>
</head>

<body>
	<slot/>
</body>
</html>

